<link href="https://fonts.cdnfonts.com/css/space-grotesk" rel="stylesheet" />
<section aria-labelledby="pricing" id="pricing" class="relative bg-[#1c1b22]">
  <svg
    class="absolute"
    width="100%"
    height="100%"
    viewBox="0 0 400 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_10_22)">
      <g filter="url(#filter0_f_10_22)">
        <path d="M128.6 0H0V322.2L106.2 134.75L128.6 0Z" fill="#676bf2"></path>
        <path d="M0 322.2V400H240H320L106.2 134.75L0 322.2Z" fill="none"></path>
        <path d="M320 400H400V78.75L106.2 134.75L320 400Z" fill="#676bf2"
        ></path>
        <path d="M400 0H128.6L106.2 134.75L400 78.75V0Z" fill="#676bf2"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_10_22"
        x="-159.933"
        y="-159.933"
        width="719.867"
        height="719.867"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="79.9667"
          result="effect1_foregroundBlur_10_22"></feGaussianBlur>
      </filter>
    </defs>
  </svg>

  <div
    class="relative mx-auto max-w-7xl items-center px-8 pt-24 md:px-12 lg:px-16 xl:px-36"
  >
    <div class="sm:text-center">
      <p class="font-display mt-8 text-4xl font-extrabold text-slate-300"></p>
      <h2
        class="font-display mt-6 text-4xl font-extrabold text-slate-300 lg:mx-auto"
      >
        Always know what you’ll pay,

        <span class="lg:block"> transparent pricing for everyone.</span>
      </h2>
    </div>
  </div>
  <div class="relative mx-auto max-w-7xl items-center px-8 pt-12 pb-24">
    <div
      class="-mx-4 mt-16 grid max-w-2xl grid-cols-1 gap-y-10 py-4 shadow-2xl sm:mx-auto sm:grid-cols-2 lg:max-w-none lg:grid-cols-4 lg:rounded-3xl lg:bg-[#1f1e26] xl:gap-x-4"
    >
      <section class="flex flex-col rounded-3xl px-6 sm:px-8 lg:py-8">
        <h3 class="font-display mt-5 text-lg text-slate-300">Greedy</h3>
        <p class="mt-2 text-sm text-slate-400">
          Amazing for those attached to money with glue
        </p>
        <p
          class="font-display order-first text-5xl font-light tracking-tight text-slate-300"
        >
          $0
        </p>
        <ul
          role="list"
          class="order-last mt-10 flex flex-col gap-y-3 text-sm text-slate-400"
        >
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Connect 1 websites</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Connect up to 1 bank accounts</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Track up to 1 credit cards</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Analytics support</span>
          </li>
        </ul>
        <a
          class="mt-8 inline-flex w-full transform items-center justify-center rounded-xl bg-white/5 px-6 py-3 text-center text-white transition duration-200 ease-in-out hover:border-black/50 hover:bg-transparent focus:outline-none"
          aria-label="Wannabe tier"
          href="/register">Get started</a
        >
      </section>
      <section class="flex flex-col rounded-3xl px-6 sm:px-8 lg:py-8">
        <h3 class="font-display mt-5 text-lg text-slate-300">Wannabe</h3>
        <p class="mt-2 text-sm text-slate-400">
          Good for those trying to get there, but are too far from it.
        </p>
        <p
          class="font-display order-first text-5xl font-light tracking-tight text-slate-300"
        >
          $2
        </p>
        <ul
          role="list"
          class="order-last mt-10 flex flex-col gap-y-3 text-sm text-slate-400"
        >
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Connect 1 websites</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Connect up to 2 bank accounts</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Track up to 15 credit cards</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Analytics support</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Export up to 3 months data</span>
          </li>
        </ul>
        <a
          class="mt-8 inline-flex w-full transform items-center justify-center rounded-xl bg-white/5 px-6 py-3 text-center text-white transition duration-200 ease-in-out hover:border-black/50 hover:bg-transparent focus:outline-none"
          aria-label="Wannabe tier"
          href="/register">Get started</a
        >
      </section>
      <section
        class="order-first flex flex-col rounded-3xl bg-[#282631] px-6 py-8 sm:px-8 lg:order-none lg:-mt-24"
      >
        <h3 class="font-display mt-5 text-lg text-white">Indie Hacker</h3>
        <p class="mt-2 text-sm text-slate-200">
          Perfect for those leaving 9-5 and working 24/7.
        </p>
        <p
          class="font-display order-first text-5xl font-light tracking-tight text-white"
        >
          $29
        </p>
        <ul
          role="list"
          class="order-last mt-10 flex flex-col gap-y-3 text-sm text-white"
        >
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Connect 80 websites</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Connect up to 5 bank accounts</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Track up to 50 credit cards</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Analytics support</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Export up to 12 months data</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Cloud service 24/7</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Track in multiple users</span>
          </li>
        </ul>
        <a
          class="tems-center text-black-700 mt-8 inline-flex w-full transform cursor-pointer justify-center rounded-xl bg-gradient-to-tr from-indigo-500 via-indigo-400 to-indigo-300 px-12 py-4 text-center transition duration-500 ease-in-out hover:to-indigo-400 focus:outline-none focus:ring-2 focus:ring-indigo-300 focus:ring-offset-2"
          aria-label="Indie hacker tier"
          href="/register">Get started</a
        >
      </section>
      <section class="flex flex-col rounded-3xl px-6 sm:px-8 lg:py-8">
        <h3 class="font-display mt-5 text-lg text-slate-300">Big fish</h3>
        <p class="mt-2 text-sm text-slate-400">
          For even the biggest enterprise companies.
        </p>
        <p
          class="font-display order-first text-5xl font-light tracking-tight text-slate-300"
        >
          $99
        </p>
        <ul
          role="list"
          class="order-last mt-10 flex flex-col gap-y-3 text-sm text-slate-400"
        >
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Connect unlimited websites</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Connect up to 15 bank accounts</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Track up to 200 credit cards</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Analytics support</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
            <span class="ml-4">Export up to 24 months data</span>
          </li>
        </ul>
        <a
          class="mt-8 inline-flex w-full transform items-center justify-center rounded-xl bg-white/5 px-6 py-3 text-center text-white transition duration-200 ease-in-out hover:border-black/50 hover:bg-transparent focus:outline-none"
          aria-label="Big fish tier"
          href="/register">Get started</a
        >
      </section>
    </div>
  </div>
</section>
