<section
  class="py-20 bg-[#dbdbdb] dark:bg-[#1b1f25] sm:py-32 relative overflow-hidden"
>
  <svg
    class="absolute hiddeen opacity-20 -right-96 top-10"
    width="100%"
    height="100%"
    viewBox="0 0 900 936"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_1_2)">
      <path
        d="M343.993 586.325C346.113 588.445 348.445 590.459 350.777 592.367C350.353 592.049 349.823 591.519 349.399 591.201C347.703 589.505 345.901 587.915 343.993 586.325Z"
        fill="#345039"></path>
      <path
        d="M343.993 586.325C346.113 588.445 348.445 590.459 350.777 592.367C350.353 592.049 349.823 591.519 349.399 591.201C347.703 589.505 345.901 587.915 343.993 586.325ZM343.675 586.007C345.689 587.597 347.597 589.293 349.399 591.095C349.823 591.519 350.353 591.943 350.777 592.367C348.233 590.353 345.901 588.233 343.675 586.007Z"
        fill="#345039"></path>
      <path
        d="M328.41 566.29C330.954 570.636 333.71 574.664 336.784 578.481C340.919 581.767 344.629 585.477 347.915 589.505C347.067 588.445 346.113 586.855 345.371 585.689C341.131 578.481 335.512 571.908 328.41 566.29Z"
        fill="#345039"></path>
      <path
        d="M328.41 566.29C330.954 570.636 333.71 574.664 336.784 578.481C340.919 581.767 344.629 585.477 347.915 589.505C347.067 588.445 346.113 586.855 345.371 585.689C341.131 578.481 335.512 571.908 328.41 566.29ZM328.198 565.866C335.406 571.59 341.131 578.269 345.265 585.583C346.961 588.339 346.961 588.339 348.021 589.611C344.841 585.689 341.237 582.191 337.102 578.905C333.816 574.77 330.742 570.424 328.198 565.866Z"
        fill="#345039"></path>
      <path
        d="M318.233 542.226C319.611 547.208 321.413 551.979 323.427 556.643C332.544 563.852 339.116 572.332 343.251 581.767C342.615 580.071 341.767 577.845 341.131 576.148L340.601 574.24C335.512 560.141 332.014 554.311 318.233 542.226Z"
        fill="#345039"></path>
      <path
        d="M318.233 542.226C319.611 547.209 321.413 551.979 323.428 556.643C332.544 563.852 339.117 572.332 343.251 581.767C342.615 580.071 341.767 577.845 341.131 576.148L340.601 574.24C335.512 560.141 332.014 554.311 318.233 542.226ZM318.127 541.696C330.742 552.933 335.194 558.551 340.601 573.922L341.237 576.042C341.873 577.845 342.721 580.177 343.463 581.873C339.223 572.544 332.756 564.17 323.746 557.067C321.519 552.191 319.611 546.997 318.127 541.696Z"
        fill="#345039"></path>
      <path
        d="M313.675 515.088C313.993 520.601 314.629 525.901 315.583 531.201C325.336 539.894 334.558 548.057 338.905 567.138L338.268 563.216C338.056 560.671 337.632 557.385 337.42 554.841C336.254 545.3 334.346 532.155 313.675 515.088Z"
        fill="#345039"></path>
      <path
        d="M313.675 515.088C313.993 520.601 314.629 525.901 315.583 531.201C325.336 539.894 334.558 548.057 338.905 567.138L338.268 563.216C338.056 560.671 337.632 557.385 337.42 554.841C336.254 545.3 334.346 532.155 313.675 515.088ZM313.675 514.558C328.94 526.749 336.678 540.424 337.526 554.417C337.738 557.067 338.056 560.565 338.375 563.216L339.117 567.456C336.572 554.417 328.94 542.226 315.795 531.731C314.735 526.113 313.993 520.389 313.675 514.558Z"
        fill="#345039"></path>
      <path
        d="M314.947 485.936C314.099 491.767 313.675 497.491 313.569 503.11C328.94 516.572 336.466 526.219 337.42 544.558C337.739 539.576 338.269 533.004 338.799 528.021C340.601 514.876 332.968 500.247 314.947 485.936Z"
        fill="#345039"></path>
      <path
        d="M314.947 485.936C314.099 491.767 313.675 497.491 313.569 503.11C328.94 516.572 336.466 526.219 337.42 544.558C337.738 539.576 338.269 533.004 338.799 528.021C340.601 514.876 332.968 500.247 314.947 485.936ZM315.053 485.3C333.18 499.717 340.707 514.24 338.905 527.385C338.375 532.686 337.632 539.682 337.42 544.982C337.738 530.989 330 516.678 313.569 503.534C313.675 497.597 314.099 491.555 315.053 485.3Z"
        fill="#345039"></path>
      <path
        d="M322.049 455.512C320.035 461.449 318.445 467.385 317.173 473.216C336.678 489.965 342.721 500.353 341.131 514.664C342.297 510.212 343.675 504.276 345.053 499.823L346.643 495.053C347.703 489.117 349.823 478.092 322.049 455.512Z"
        fill="#345039"></path>
      <path
        d="M322.049 455.512C320.035 461.449 318.445 467.385 317.173 473.216C336.678 489.965 342.721 500.353 341.131 514.664C342.297 510.212 343.675 504.276 345.053 499.823L346.643 495.053C347.703 489.117 349.823 478.092 322.049 455.512ZM322.261 454.876C332.968 463.887 350.989 479.046 346.855 494.311L345.053 499.823C343.781 504.488 342.085 510.636 341.025 515.3C343.569 503.216 335.936 488.799 317.067 473.746C318.445 467.597 320.141 461.237 322.261 454.876Z"
        fill="#345039"></path>
      <path
        d="M335.3 424.876C332.12 430.813 329.364 436.749 326.82 442.686C347.385 459.117 355.442 471.943 352.155 480L355.124 473.11C357.244 468.657 360.106 462.827 362.332 458.481C364.134 451.696 356.502 442.261 335.3 424.876Z"
        fill="#345039"></path>
      <path
        d="M335.3 424.876C332.12 430.813 329.364 436.749 326.82 442.685C347.385 459.117 355.442 471.943 352.155 480L355.124 473.11C357.244 468.657 360.106 462.827 362.332 458.481C364.134 451.696 356.502 442.261 335.3 424.876ZM335.618 424.24C353.958 439.293 364.876 450.106 362.862 457.738C360.53 462.297 357.35 468.445 355.23 473.11L351.943 480.636C353.852 472.155 350.247 462.615 326.608 443.216C329.258 436.855 332.226 430.601 335.618 424.24Z"
        fill="#345039"></path>
      <path
        d="M350.247 401.025C346.325 406.431 342.615 412.049 339.223 417.88C360.636 434.947 369.647 445.76 367.314 449.894C371.343 443.428 376.749 434.947 381.095 428.693C381.943 427.42 371.873 418.198 350.247 401.025Z"
        fill="#345039"></path>
      <path
        d="M350.247 401.025C346.325 406.431 342.615 412.049 339.223 417.88C360.636 434.947 369.647 445.76 367.314 449.894C371.343 443.428 376.749 434.947 381.095 428.693C381.943 427.42 371.873 418.198 350.247 401.025ZM350.565 400.495C372.191 417.774 382.368 426.89 381.519 428.057C377.067 434.629 371.131 443.534 366.996 450.318C369.435 446.184 360.424 435.265 339.011 418.198C342.615 412.049 346.431 406.113 350.565 400.495Z"
        fill="#345039"></path>
      <path
        d="M372.191 375.265C367.632 379.823 363.18 384.594 359.046 389.682C380.671 406.961 391.59 415.018 392.12 414.488C396.148 409.929 401.449 403.781 405.689 399.435L408.657 396.466C406.855 397.208 402.191 399.223 372.191 375.265Z"
        fill="#345039"></path>
      <path
        d="M372.191 375.265C367.632 379.823 363.18 384.594 359.046 389.682C380.671 406.961 391.59 415.018 392.12 414.488C396.148 409.929 401.449 403.781 405.689 399.435L408.657 396.466C406.855 397.208 402.191 399.223 372.191 375.265ZM372.615 374.841C394.134 391.908 406.325 398.693 409.187 395.83L405.689 399.435C401.449 404.099 395.724 410.247 391.59 415.124C391.166 415.548 380.247 407.385 358.622 390.212C363.074 384.806 367.738 379.717 372.615 374.841Z"
        fill="#345039"></path>
      <path
        d="M397.102 354.17C392.014 357.774 387.138 361.696 382.367 365.83C403.569 382.686 416.714 388.622 421.272 384.7L428.163 378.975L439.187 370.601C431.979 375.583 417.668 370.601 397.102 354.17Z"
        fill="#345039"></path>
      <path
        d="M397.103 354.17C392.014 357.774 387.138 361.696 382.368 365.83C403.569 382.686 416.714 388.622 421.272 384.7L428.163 378.975L439.187 370.601C431.979 375.583 417.668 370.601 397.103 354.17ZM397.527 353.852C418.092 370.283 432.403 375.265 439.611 370.177C436.113 372.827 431.449 376.219 428.057 378.975L420.636 385.23C416.184 389.046 403.145 383.11 381.838 366.254C386.926 361.802 392.12 357.668 397.527 353.852Z"
        fill="#345039"></path>
      <path
        d="M423.922 338.163C418.622 340.707 413.322 343.675 408.127 346.855C428.269 362.862 443.216 367.42 452.014 362.014C457.314 359.046 464.311 355.018 469.717 352.367C458.693 357.562 443.003 353.322 423.922 338.163Z"
        fill="#345039"></path>
      <path
        d="M423.922 338.163C418.622 340.707 413.322 343.675 408.127 346.855C428.269 362.862 443.216 367.42 452.014 362.014C457.314 359.046 464.311 355.018 469.717 352.367C458.693 357.562 443.003 353.322 423.922 338.163ZM424.452 337.951C443.534 353.11 459.223 357.35 470.247 352.049C464.523 355.018 456.996 359.152 451.484 362.332C442.791 367.738 427.738 363.18 407.597 347.173C413.11 343.781 418.834 340.707 424.452 337.951Z"
        fill="#345039"></path>
      <path
        d="M451.908 327.668C446.396 329.152 440.989 330.954 435.583 333.074C453.71 347.491 469.611 351.731 481.908 346.961C485.724 345.583 490.813 343.675 494.735 342.509L497.809 341.661C484.452 345.265 468.657 340.919 451.908 327.668Z"
        fill="#345039"></path>
      <path
        d="M451.908 327.668C446.396 329.152 440.989 330.954 435.583 333.074C453.71 347.491 469.611 351.731 481.908 346.961C485.724 345.583 490.813 343.675 494.735 342.509L497.809 341.661C484.452 345.265 468.657 340.919 451.908 327.668ZM452.438 327.456C469.081 340.707 484.77 344.947 498.339 341.449L494.735 342.403C490.707 343.781 485.3 345.477 481.378 347.067C469.187 351.837 453.286 347.703 435.053 333.18C440.883 330.954 446.714 329.046 452.438 327.456Z"
        fill="#345039"></path>
      <path
        d="M480 323.004C474.594 323.322 469.187 323.958 463.675 324.912C474.276 332.544 487.526 342.085 508.092 339.223L512.968 338.481C515.3 338.269 518.269 337.845 520.601 337.739C507.244 338.375 493.463 333.71 480 323.004Z"
        fill="#345039"></path>
      <path
        d="M480 323.004C474.594 323.322 469.187 323.958 463.675 324.912C474.276 332.544 487.526 342.085 508.092 339.223L512.968 338.481C515.3 338.269 518.269 337.845 520.601 337.739C507.244 338.375 493.463 333.71 480 323.004ZM480.53 323.004C493.039 331.908 502.579 337.739 520.919 337.739C518.481 337.951 515.3 338.163 512.968 338.481L507.668 339.329C493.887 341.873 478.622 337.42 463.145 325.018C469.081 323.958 474.806 323.322 480.53 323.004Z"
        fill="#345039"></path>
      <path
        d="M507.35 324.806C502.155 323.852 496.961 323.216 491.661 323.004C503.427 332.438 515.936 337.102 528.339 337.739C530.777 337.951 534.064 338.269 536.502 338.693C529.081 336.784 520.813 334.558 513.392 329.258C511.59 327.88 509.364 325.654 507.35 324.806Z"
        fill="#345039"></path>
      <path
        d="M507.35 324.806C502.155 323.852 496.961 323.216 491.661 323.004C503.428 332.438 515.936 337.102 528.339 337.739C530.777 337.951 534.064 338.269 536.502 338.693C529.081 336.784 520.813 334.558 513.392 329.258C511.59 327.88 509.364 325.654 507.35 324.806ZM507.774 324.912C516.89 332.12 526.643 336.678 536.714 338.693C531.307 337.845 531.201 337.845 528.021 337.739C515.512 337.208 503.003 332.438 491.131 323.004C496.749 323.216 502.367 323.852 507.774 324.912Z"
        fill="#345039"></path>
      <path
        d="M532.792 333.286C531.625 332.756 530.565 332.226 529.399 331.696C525.795 330.106 522.085 328.622 518.269 327.456C525.371 333.074 533.004 337.102 540.848 339.541C542.014 339.965 543.498 340.495 544.664 340.919L545.618 341.343C541.166 339.223 536.82 336.572 532.792 333.286Z"
        fill="#345039"></path>
      <path
        d="M532.792 333.286C531.625 332.756 530.565 332.226 529.399 331.696C525.795 330.106 522.085 328.622 518.269 327.456C525.371 333.074 533.004 337.102 540.848 339.541C542.014 339.965 543.498 340.495 544.664 340.919L545.618 341.343C541.166 339.223 536.82 336.572 532.792 333.286ZM533.216 333.498C537.138 336.678 541.272 339.329 545.618 341.449L544.558 340.919C543.392 340.495 541.802 339.859 540.636 339.435C532.58 336.996 524.841 332.968 517.739 327.244C521.661 328.41 525.583 329.894 529.293 331.59C530.671 332.332 531.943 332.862 533.216 333.498Z"
        fill="#345039"></path>
      <path
        d="M542.332 338.799C544.134 340.177 545.936 341.555 547.739 342.721C548.163 343.039 548.693 343.357 549.011 343.675C546.996 341.979 544.664 340.389 542.332 338.799Z"
        fill="#345039"></path>
      <path
        d="M542.332 338.799C544.134 340.177 545.936 341.555 547.739 342.721C548.163 343.039 548.693 343.357 549.011 343.675C546.996 341.979 544.664 340.389 542.332 338.799ZM541.908 338.587C544.346 340.177 546.784 341.873 549.011 343.781C548.587 343.463 548.057 343.039 547.633 342.827C545.724 341.449 543.816 340.071 541.908 338.587Z"
        fill="#345039"></path>
      <path
        d="M147.244 640.283C151.696 644.629 156.254 648.657 161.131 652.579C219.117 581.873 303.604 554.841 350.777 592.368C348.445 590.459 346.113 588.445 343.993 586.325C296.82 548.799 209.152 573.074 147.244 640.283Z"
        fill="#345039"></path>
      <path
        d="M147.244 640.283C151.696 644.629 156.254 648.657 161.131 652.579C219.117 581.873 303.604 554.841 350.777 592.367C348.445 590.459 346.113 588.445 343.993 586.325C296.82 548.799 209.152 573.074 147.244 640.283ZM145.124 641.237C207.244 572.968 296.078 548.162 343.675 586.007C345.901 588.233 348.339 590.353 350.777 592.367C303.286 554.523 217.738 582.297 159.753 654.276C154.664 650.141 149.682 645.795 145.124 641.237Z"
        fill="#345039"></path>
      <path
        d="M115.548 599.364C120.636 608.163 126.36 616.431 132.721 624.276C198.763 561.519 289.717 540.954 336.89 578.481C333.816 574.664 330.954 570.53 328.516 566.29C281.237 528.763 186.36 543.604 115.548 599.364Z"
        fill="#345039"></path>
      <path
        d="M115.548 599.364C120.636 608.163 126.36 616.431 132.721 624.276C198.763 561.519 289.717 540.954 336.89 578.481C333.816 574.664 330.954 570.53 328.516 566.29C281.237 528.763 186.36 543.604 115.548 599.364ZM113.321 599.788C184.452 543.18 280.601 527.915 328.198 565.76C330.848 570.318 333.816 574.664 337.102 578.799C289.611 540.954 197.703 562.368 131.661 626.502C124.876 618.233 118.728 609.329 113.321 599.788Z"
        fill="#345039"></path>
      <path
        d="M94.8763 550.283C97.7385 560.459 101.343 570.212 105.477 579.647C179.152 529.505 276.254 519.011 323.427 556.537C321.413 551.873 319.611 547.102 318.233 542.12C271.06 504.7 171.519 508.41 94.8763 550.283Z"
        fill="#345039"></path>
      <path
        d="M94.8763 550.283C97.7385 560.459 101.343 570.212 105.477 579.647C179.152 529.505 276.254 519.011 323.427 556.537C321.413 551.873 319.611 547.102 318.233 542.12C271.06 504.7 171.519 508.41 94.8763 550.283ZM92.7561 550.283C169.717 507.774 270.636 503.852 318.127 541.696C319.611 546.996 321.519 552.191 323.64 557.067C276.148 519.223 177.88 530.353 104.099 581.767C99.6466 571.802 95.8304 561.201 92.7561 550.283Z"
        fill="#345039"></path>
      <path
        d="M85.6536 495.053C86.2897 506.184 87.6678 517.208 89.5759 527.809C167.703 492.297 268.516 493.675 315.689 531.201C314.735 526.007 314.099 520.601 313.781 515.088C266.608 477.562 164.841 468.763 85.6536 495.053Z"
        fill="#345039"></path>
      <path
        d="M85.6536 495.053C86.2897 506.184 87.6678 517.208 89.5759 527.809C167.703 492.297 268.516 493.675 315.689 531.201C314.735 526.007 314.099 520.601 313.781 515.088C266.608 477.562 164.841 468.763 85.6536 495.053ZM83.6395 494.629C163.251 467.915 266.184 476.714 313.675 514.558C313.993 520.389 314.735 526.113 315.795 531.625C268.304 493.781 166.325 492.933 87.8798 529.611C85.7597 518.268 84.2756 506.608 83.6395 494.629Z"
        fill="#345039"></path>
      <path
        d="M88.0918 435.477C86.5017 447.35 85.4417 459.011 85.2297 470.459C164.629 451.06 266.396 465.477 313.569 503.004C313.675 497.385 314.205 491.661 314.947 485.83C267.774 448.304 166.643 426.042 88.0918 435.477Z"
        fill="#345039"></path>
      <path
        d="M88.0918 435.477C86.5017 447.35 85.4417 459.011 85.2296 470.459C164.629 451.06 266.396 465.477 313.569 503.004C313.675 497.385 314.205 491.661 314.947 485.83C267.774 448.304 166.643 426.042 88.0918 435.477ZM86.3957 434.629C165.159 424.876 267.456 447.562 315.053 485.406C314.205 491.555 313.675 497.703 313.569 503.64C266.078 465.795 163.039 451.696 83.3215 472.155C83.5335 459.753 84.5936 447.244 86.3957 434.629Z"
        fill="#345039"></path>
      <path
        d="M102.721 373.569C98.6927 385.654 95.4064 397.739 92.7562 409.717C175.866 408.975 266.078 434.523 317.279 473.216C318.551 467.385 320.141 461.449 322.156 455.512C261.519 409.823 168.233 381.413 102.721 373.569Z"
        fill="#345039"></path>
      <path
        d="M102.721 373.569C98.6926 385.654 95.4064 397.739 92.7562 409.717C175.866 408.975 266.078 434.523 317.279 473.216C318.551 467.385 320.141 461.449 322.155 455.512C261.519 409.823 168.233 381.413 102.721 373.569ZM101.237 372.191C175.76 380.141 274.664 417.138 322.261 454.982C320.141 461.343 318.445 467.597 317.067 473.852C269.576 436.007 168.233 407.915 90.636 410.989C93.3922 398.057 96.8905 385.124 101.237 372.191Z"
        fill="#345039"></path>
      <path
        d="M129.646 311.025C123.18 323.11 117.456 335.194 112.473 347.279C184.24 362.65 279.753 405.053 326.926 442.579C329.364 436.643 332.226 430.707 335.406 424.77C288.127 387.35 196.537 336.678 129.646 311.025Z"
        fill="#345039"></path>
      <path
        d="M129.647 311.025C123.18 323.11 117.456 335.194 112.473 347.279C184.24 362.65 279.753 405.053 326.926 442.579C329.364 436.643 332.226 430.707 335.406 424.77C288.127 387.35 196.537 336.678 129.647 311.025ZM128.693 309.223C195.477 334.982 288.127 386.396 335.618 424.24C332.226 430.495 329.258 436.855 326.608 443.216C279.117 405.371 182.226 362.862 110.141 348.127C115.548 335.088 121.696 322.155 128.693 309.223Z"
        fill="#345039"></path>
      <path
        d="M159.965 262.367C152.014 273.392 144.488 284.841 137.491 296.82C202.156 326.396 291.944 380.247 339.117 417.88C342.509 412.049 346.219 406.325 350.141 401.025C303.074 363.498 218.269 301.696 159.965 262.367Z"
        fill="#345039"></path>
      <path
        d="M159.965 262.367C152.014 273.392 144.488 284.841 137.491 296.82C202.155 326.396 291.944 380.247 339.117 417.88C342.509 412.049 346.219 406.325 350.141 401.025C303.074 363.498 218.269 301.696 159.965 262.367ZM159.435 260.353C217.527 299.894 303.074 362.544 350.671 400.389C346.537 406.007 342.721 411.943 339.117 418.198C291.625 380.353 200.565 326.078 135.689 296.82C143.004 284.205 150.954 272.014 159.435 260.353Z"
        fill="#345039"></path>
      <path
        d="M204.7 210C195.371 219.223 186.466 229.081 177.88 239.364C231.201 285.159 311.873 352.155 358.94 389.682C363.18 384.594 367.527 379.823 372.085 375.265C325.018 337.739 250.389 264.064 204.7 210Z"
        fill="#345039"></path>
      <path
        d="M204.7 210C195.371 219.223 186.466 229.081 177.88 239.364C231.201 285.159 311.873 352.155 358.94 389.682C363.18 384.594 367.527 379.823 372.085 375.265C325.018 337.738 250.389 264.064 204.7 210ZM204.594 207.774C249.965 262.261 325.124 336.996 372.615 374.841C367.739 379.717 363.074 384.806 358.622 390.212C311.131 352.367 229.293 284.841 175.866 239.258C184.982 228.233 194.523 217.632 204.594 207.774Z"
        fill="#345039"></path>
      <path
        d="M255.477 166.961C245.194 174.276 235.124 182.226 225.371 190.707C265.23 250.177 335.088 328.198 382.261 365.83C387.032 361.696 392.014 357.774 396.996 354.17C349.929 316.643 286.855 233.216 255.477 166.961Z"
        fill="#345039"></path>
      <path
        d="M255.477 166.961C245.194 174.276 235.124 182.226 225.371 190.707C265.23 250.177 335.088 328.198 382.261 365.83C387.032 361.696 392.014 357.774 396.996 354.17C349.929 316.643 286.855 233.216 255.477 166.961ZM255.795 164.735C286.643 231.413 350.035 316.007 397.526 353.852C392.12 357.668 386.926 361.802 381.837 366.254C334.346 328.41 263.428 249.647 223.463 190.177C233.958 181.06 244.664 172.579 255.795 164.735Z"
        fill="#345039"></path>
      <path
        d="M310.389 134.311C299.47 139.611 288.657 145.442 278.163 152.014C303.18 222.403 361.06 309.329 408.233 346.855C413.428 343.675 418.728 340.813 424.028 338.163C376.855 300.636 326.29 209.788 310.389 134.311Z"
        fill="#345039"></path>
      <path
        d="M310.389 134.311C299.47 139.611 288.657 145.442 278.163 152.014C303.18 222.403 361.06 309.329 408.233 346.855C413.428 343.675 418.728 340.813 424.028 338.163C376.855 300.636 326.29 209.788 310.389 134.311ZM311.025 131.979C326.184 207.88 376.961 300.106 424.452 337.951C418.728 340.707 413.11 343.781 407.597 347.173C360.106 309.329 301.378 221.555 276.466 150.954C287.809 143.958 299.364 137.597 311.025 131.979Z"
        fill="#345039"></path>
      <path
        d="M367.421 112.898C356.29 115.866 345.159 119.576 334.134 123.922C343.357 202.261 388.516 295.548 435.583 333.074C440.989 330.954 446.502 329.152 451.908 327.668C404.841 290.141 367.209 194.311 367.421 112.898Z"
        fill="#345039"></path>
      <path
        d="M367.421 112.898C356.29 115.866 345.159 119.576 334.134 123.922C343.357 202.261 388.516 295.548 435.583 333.074C440.989 330.954 446.502 329.152 451.908 327.668C404.841 290.141 367.209 194.311 367.421 112.898ZM368.481 110.565C367.421 192.509 404.947 289.611 452.438 327.456C446.608 329.046 440.777 330.954 435.053 333.18C387.562 295.336 341.767 200.989 332.756 122.332C344.629 117.774 356.608 113.852 368.481 110.565Z"
        fill="#345039"></path>
      <path
        d="M424.664 103.463C413.64 104.099 402.615 105.371 391.484 107.385C384.488 190.389 416.608 287.385 463.781 324.912C469.187 323.958 474.7 323.322 480.106 323.004C432.933 285.477 408.339 187.632 424.664 103.463Z"
        fill="#345039"></path>
      <path
        d="M424.664 103.463C413.64 104.099 402.615 105.371 391.484 107.385C384.488 190.389 416.608 287.385 463.781 324.912C469.187 323.958 474.7 323.322 480.106 323.003C432.933 285.477 408.339 187.632 424.664 103.463ZM426.148 101.449C408.763 186.042 433.039 285.265 480.53 323.109C474.806 323.427 468.975 324.064 463.145 325.124C415.654 287.279 383.11 189.011 390.53 105.689C402.509 103.357 414.382 101.979 426.148 101.449Z"
        fill="#345039"></path>
      <path
        d="M480.318 107.067C469.823 105.053 459.117 103.887 448.304 103.357C425.3 187.526 444.488 285.477 491.661 323.004C496.961 323.216 502.262 323.852 507.35 324.806C460.177 287.279 448.304 190.177 480.318 107.067Z"
        fill="#345039"></path>
      <path
        d="M480.318 107.067C469.823 105.053 459.117 103.887 448.304 103.357C425.3 187.526 444.488 285.477 491.661 323.004C496.961 323.216 502.262 323.852 507.35 324.806C460.177 287.279 448.304 190.177 480.318 107.067ZM482.12 105.265C448.834 188.799 460.283 287.067 507.774 324.912C502.262 323.852 496.749 323.216 491.025 323.004C443.534 285.159 424.134 185.936 447.774 101.343C459.435 101.767 470.883 103.039 482.12 105.265Z"
        fill="#345039"></path>
      <path
        d="M532.262 124.452C529.929 123.286 527.703 122.226 525.265 121.166C517.845 117.88 510.318 115.018 502.58 112.579C464.311 194.099 471.095 289.929 518.163 327.456C521.979 328.622 525.689 330 529.293 331.696C530.459 332.226 531.625 332.756 532.686 333.286C485.618 295.76 485.618 202.686 532.262 124.452Z"
        fill="#345039"></path>
      <path
        d="M532.262 124.452C529.929 123.286 527.703 122.226 525.265 121.166C517.845 117.88 510.318 115.018 502.58 112.579C464.311 194.099 471.095 289.929 518.163 327.456C521.979 328.622 525.689 330 529.293 331.696C530.459 332.226 531.625 332.756 532.686 333.286C485.618 295.76 485.618 202.686 532.262 124.452ZM534.276 122.968C486.254 201.413 485.724 295.654 533.216 333.498C531.943 332.862 530.671 332.226 529.399 331.696C525.583 330 521.767 328.516 517.845 327.35C470.353 289.505 463.569 192.403 502.686 110.353C510.742 112.791 518.693 115.76 526.537 119.258C529.081 120.424 531.731 121.696 534.276 122.968Z"
        fill="#345039"></path>
      <path
        d="M565.548 145.548C561.201 142.049 556.537 138.763 551.767 135.583C499.611 210.636 495.159 301.272 542.332 338.799C544.664 340.283 546.89 341.979 549.117 343.675C501.943 306.148 509.47 217.845 565.548 145.548Z"
        fill="#345039"></path>
      <path
        d="M565.548 145.548C561.201 142.049 556.537 138.763 551.767 135.583C499.611 210.636 495.159 301.272 542.332 338.799C544.664 340.283 546.89 341.979 549.117 343.675C501.944 306.148 509.47 217.845 565.548 145.548ZM566.82 143.852C509.576 216.466 501.519 305.83 549.011 343.675C546.678 341.873 544.346 340.177 541.908 338.481C494.417 300.636 499.081 208.728 552.191 133.251C557.279 136.537 562.156 140.141 566.82 143.852Z"
        fill="#345039"></path>
      <path
        d="M107.703 230.989C97.9505 245.406 85.1236 264.7 76.113 279.541C79.0812 274.452 99.3286 279.541 135.053 295.76C142.156 283.675 149.682 272.014 157.739 260.883C125.83 239.47 108.869 229.399 107.703 230.989Z"
        fill="#345039"></path>
      <path
        d="M107.703 230.989C97.9506 245.406 85.1237 264.7 76.1131 279.541C79.0813 274.452 99.3287 279.541 135.053 295.76C142.156 283.675 149.682 272.014 157.739 260.883C125.83 239.47 108.869 229.399 107.703 230.989ZM108.869 229.505C109.823 228.021 126.785 238.198 158.587 259.823C150.106 271.484 142.156 283.675 134.735 296.502C98.9047 280.389 78.6573 275.406 75.6891 280.601C85.2298 265.018 98.4807 244.558 108.869 229.505Z"
        fill="#345039"></path>
      <path
        d="M170.671 157.314L163.781 164.311C154.452 174.488 141.838 188.057 132.933 198.657C132.297 199.293 146.82 212.544 175.866 237.668C184.558 227.279 193.569 217.314 203.004 207.986C177.986 177.562 168.233 162.509 170.671 157.314Z"
        fill="#345039"></path>
      <path
        d="M170.672 157.314L163.781 164.311C154.452 174.488 141.838 188.057 132.933 198.657C132.297 199.293 146.82 212.544 175.866 237.668C184.558 227.279 193.569 217.314 203.004 207.986C177.986 177.562 168.233 162.509 170.672 157.314ZM171.944 156.042C168.445 159.435 179.046 177.032 203.958 207.032C193.887 216.996 184.24 227.491 175.018 238.622C145.76 213.71 131.131 200.565 131.661 200.035C141.202 189.223 153.816 174.7 163.675 164.311L171.944 156.042Z"
        fill="#345039"></path>
      <path
        d="M242.862 96.1484L216.042 116.502L199.823 130.071C194.099 134.947 201.837 155.194 223.887 188.375C233.746 179.788 243.922 171.731 254.311 164.311C236.714 126.572 233.534 102.721 242.862 96.1484Z"
        fill="#345039"></path>
      <path
        d="M242.862 96.1484L216.042 116.502L199.823 130.071C194.099 134.947 201.838 155.194 223.887 188.375C233.746 179.788 243.922 171.731 254.311 164.311C236.714 126.572 233.534 102.721 242.862 96.1484ZM244.346 95.1944C234.912 101.767 237.88 125.724 255.371 163.781C244.24 171.625 233.428 180.212 222.933 189.329C200.777 156.254 192.933 136.113 198.551 131.343L216.148 116.608C224.523 110.141 235.654 101.343 244.346 95.1944Z"
        fill="#345039"></path>
      <path
        d="M323.11 48.4453C308.693 55.9718 289.505 66.2544 275.512 74.523C263.428 81.9435 263.004 108.233 277.103 149.258C287.809 142.686 298.728 136.749 309.753 131.343C300.636 85.7597 306.573 56.3958 323.11 48.4453Z"
        fill="#345039"></path>
      <path
        d="M323.11 48.4452C308.693 55.9717 289.505 66.2544 275.512 74.523C263.428 81.9435 263.004 108.233 277.103 149.258C287.809 142.686 298.728 136.749 309.753 131.343C300.636 85.7597 306.572 56.3958 323.11 48.4452ZM324.7 47.7032C308.057 55.6537 301.908 85.1237 310.919 130.919C299.152 136.537 287.597 142.898 276.148 149.894C261.837 108.975 262.049 82.7915 274.028 75.477C288.975 66.7845 309.223 55.5477 324.7 47.7032Z"
        fill="#345039"></path>
      <path
        d="M410.353 15.7951L399.435 18.8693C387.244 22.8975 371.025 28.1979 358.94 32.7562C339.011 40.4947 328.622 71.8728 333.816 120.848C344.947 116.502 356.184 112.686 367.527 109.717C368.269 56.2898 385.336 22.4735 410.353 15.7951Z"
        fill="#345039"></path>
      <path
        d="M410.353 15.7951L399.435 18.8693C387.244 22.8975 371.025 28.1979 358.94 32.7562C339.011 40.4947 328.622 71.8728 333.816 120.848C344.947 116.502 356.184 112.686 367.527 109.717C368.269 56.2898 385.336 22.4735 410.353 15.7951ZM412.05 15.371C386.926 22.0495 369.541 55.9717 368.587 109.505C356.608 112.686 344.629 116.714 332.756 121.378C327.35 72.6148 337.527 41.3428 357.35 33.4982C369.965 28.9399 386.714 22.8975 399.435 18.8693L412.05 15.371Z"
        fill="#345039"></path>
      <path
        d="M503.322 0.636047C492.615 1.59011 478.304 2.65018 467.597 4.02827L448.622 7.10248C417.032 15.265 397.951 47.9152 391.696 104.205C402.933 102.191 414.17 100.813 425.3 100.177C438.021 39.2226 469.081 2.33216 503.322 0.636047Z"
        fill="#345039"></path>
      <path
        d="M503.322 0.636047C492.615 1.59011 478.304 2.65018 467.597 4.02827L448.622 7.10248C417.032 15.265 397.951 47.9152 391.696 104.205C402.933 102.191 414.17 100.813 425.3 100.177C438.021 39.2226 469.081 2.33216 503.322 0.636047ZM505.124 0.636047C457.103 6.25442 435.795 57.8799 426.467 100.177C414.594 100.813 402.721 102.191 390.742 104.417C396.043 47.9152 418.304 12.6148 446.926 7.4205L467.597 4.02827C478.94 2.9682 493.887 1.27209 505.124 0.636047Z"
        fill="#345039"></path>
      <path
        d="M599.894 7.10249C583.039 4.55832 560.353 1.80213 543.392 0.530049C505.442 -1.16606 467.597 36.2544 449.152 100.177C460.071 100.707 470.883 101.873 481.484 103.887C525.477 2.01415 583.251 4.02828 599.894 7.10249Z"
        fill="#345039"></path>
      <path
        d="M599.894 7.10249C583.039 4.55832 560.353 1.80213 543.392 0.530048C505.442 -1.16606 467.597 36.2544 449.152 100.177C460.071 100.707 470.883 101.873 481.484 103.887C525.477 2.01415 583.251 4.02828 599.894 7.10249ZM601.696 7.42051C558.763 -1.06006 510 36.2544 482.544 104.099C471.307 101.873 459.753 100.601 448.092 100.071C466.219 36.2544 503.746 -1.06006 541.484 0.424041C580.813 3.39224 581.555 3.49825 601.696 7.42051Z"
        fill="#345039"></path>
      <path
        d="M695.83 39.3286L682.686 33.0742C670.177 28.0919 653.428 21.4134 640.601 17.1731C595.018 2.9682 538.198 39.4346 504.064 109.399C511.908 111.837 519.541 114.7 526.961 118.092C529.293 119.152 531.626 120.212 533.958 121.378C578.481 49.2933 647.809 15.371 695.83 39.3286Z"
        fill="#345039"></path>
      <path
        d="M695.83 39.3286L682.686 33.0742C670.177 28.0919 653.428 21.4134 640.601 17.1732C595.018 2.9682 538.198 39.4346 504.064 109.399C511.908 111.837 519.541 114.7 526.961 118.092C529.293 119.152 531.626 120.212 533.958 121.378C578.481 49.2933 647.809 15.371 695.83 39.3286ZM697.527 40.1767C649.399 15.9011 579.647 49.7173 534.912 121.908C532.262 120.636 529.611 119.364 526.961 118.092C519.117 114.594 511.166 111.625 503.004 109.187C536.714 39.2226 593.216 2.75619 638.693 16.6431C651.944 21.3074 669.647 27.6679 682.58 33.0742L697.527 40.1767Z"
        fill="#345039"></path>
      <path
        d="M779.364 96.8905L759.541 79.8234C751.59 73.993 741.201 66.0424 733.039 60.6361C684.594 28.834 605.83 59.894 553.781 132.721C558.551 135.901 563.216 139.187 567.668 142.792C571.272 145.654 574.77 148.622 578.057 151.696C639.011 81.5195 727.527 55.3357 775.23 93.2862C776.714 94.4523 778.092 95.6184 779.364 96.8905Z"
        fill="#345039"></path>
      <path
        d="M779.364 96.8905L759.541 79.8233C751.59 73.993 741.201 66.0424 733.039 60.6361C684.594 28.8339 605.83 59.894 553.781 132.721C558.551 135.901 563.216 139.187 567.668 142.792C571.272 145.654 574.77 148.622 578.057 151.696C639.011 81.5195 727.527 55.3357 775.23 93.2862C776.714 94.4523 778.092 95.6184 779.364 96.8905ZM780.742 98.1626C779.364 96.8905 777.88 95.6184 776.396 94.4523C728.587 56.3958 639.965 82.4735 578.799 152.438C575.194 149.152 571.484 145.866 567.668 142.792C563.004 139.081 558.021 135.477 552.933 132.191C604.664 59.364 683.11 28.1979 731.449 59.576C739.929 65.6184 751.378 73.3569 759.541 79.8233L780.742 98.1626Z"
        fill="#345039"></path>
      <path
        d="M841.696 172.792C833.322 160.283 821.767 143.852 812.544 131.979L808.304 126.89C805.336 123.498 802.05 120.212 798.339 117.35C750.53 79.2933 658.622 101.873 593.322 167.597C599.894 175.336 605.936 183.604 611.237 192.297C698.375 123.392 801.732 114.7 841.696 172.792Z"
        fill="#345039"></path>
      <path
        d="M841.696 172.792C833.322 160.283 821.767 143.852 812.544 131.979L808.304 126.89C805.336 123.498 802.05 120.212 798.339 117.35C750.53 79.2933 658.622 101.873 593.322 167.597C599.894 175.336 605.936 183.604 611.237 192.297C698.375 123.392 801.732 114.7 841.696 172.792ZM842.65 174.382C838.516 167.597 833.11 161.449 826.325 156.042C778.516 117.986 682.368 134.629 611.767 193.039C606.148 183.71 599.788 174.912 592.686 166.749C657.774 100.813 749.682 78.1272 797.385 116.184C800.989 119.046 804.17 122.12 807.032 125.512L812.544 131.979C821.979 144.382 834.064 161.343 842.65 174.382Z"
        fill="#345039"></path>
      <path
        d="M880.919 259.929L880.283 257.809C874.876 242.756 867.244 222.933 860.883 208.304C856.643 199.399 850.283 191.343 841.59 184.452C793.781 146.396 695.3 158.693 621.837 211.908C626.29 221.237 630.106 231.095 633.18 241.272C709.823 196.325 811.06 190.813 858.869 228.869C870.106 237.774 877.42 248.375 880.919 259.929Z"
        fill="#345039"></path>
      <path
        d="M880.919 259.929L880.283 257.809C874.876 242.756 867.244 222.933 860.883 208.304C856.643 199.399 850.283 191.343 841.59 184.452C793.781 146.396 695.3 158.693 621.837 211.908C626.29 221.237 630.106 231.095 633.18 241.272C709.823 196.325 811.06 190.813 858.869 228.869C870.106 237.774 877.42 248.375 880.919 259.929ZM881.449 261.625C877.95 250.071 870.53 239.364 859.293 230.353C811.484 192.297 710.247 197.597 633.498 242.12C630.212 231.307 626.184 220.813 621.413 210.848C694.664 157.42 793.145 144.912 840.954 182.968C849.541 189.753 855.901 197.809 860.141 206.608C866.714 221.767 874.876 242.12 880.283 257.703L881.449 261.625Z"
        fill="#345039"></path>
      <path
        d="M898.516 351.943L895.654 326.184L890.777 297.986C888.021 285.159 880.495 273.18 867.562 262.898C819.753 224.841 717.244 225.159 639.011 263.64C641.237 274.24 642.827 285.265 643.675 296.502C723.286 267.35 826.855 274.664 874.664 312.721C889.611 324.594 897.35 338.057 898.516 351.943Z"
        fill="#345039"></path>
      <path
        d="M898.516 351.943L895.654 326.184L890.778 297.986C888.021 285.159 880.495 273.18 867.562 262.898C819.753 224.841 717.244 225.159 639.011 263.64C641.237 274.24 642.827 285.265 643.675 296.502C723.286 267.35 826.855 274.664 874.664 312.721C889.611 324.594 897.35 338.057 898.516 351.943ZM898.622 353.64C897.562 339.753 889.823 326.184 874.77 314.311C826.961 276.254 723.392 268.728 643.781 297.562C642.933 285.583 641.237 273.922 638.799 262.58C717.032 223.887 819.541 223.251 867.244 261.307C880.071 271.484 887.597 283.463 890.354 296.184C891.944 305.194 894.382 317.067 895.548 326.078L898.622 353.64Z"
        fill="#345039"></path>
      <path
        d="M896.396 445.442C897.668 430.495 899.258 410.671 899.788 395.724V391.272C895.018 327.986 761.343 291.307 644.417 321.201C644.311 332.756 643.569 344.523 642.191 356.396C721.378 344.311 824.735 365.406 872.438 403.357C890.353 417.562 897.986 432.085 896.396 445.442Z"
        fill="#345039"></path>
      <path
        d="M896.396 445.442C897.668 430.495 899.258 410.671 899.788 395.724V391.272C895.018 327.986 761.343 291.307 644.417 321.201C644.311 332.756 643.569 344.523 642.191 356.396C721.378 344.311 824.735 365.406 872.438 403.357C890.353 417.562 897.986 432.085 896.396 445.442ZM896.184 447.244C897.774 433.993 890.141 419.364 872.332 405.159C824.523 367.102 721.272 345.795 642.191 357.562C643.781 344.841 644.523 332.332 644.629 320.035C762.297 289.929 895.972 326.29 899.894 389.364L899.788 395.618C899.046 411.201 897.774 431.767 896.184 447.244Z"
        fill="#345039"></path>
      <path
        d="M876.467 537.986L877.633 534.064C881.661 519.223 886.855 499.399 890.141 484.346C894.912 432.509 758.269 377.173 638.163 382.368C635.725 394.452 632.65 406.643 628.834 418.94C757.739 430.813 886.537 500.035 876.467 537.986Z"
        fill="#345039"></path>
      <path
        d="M876.466 537.986L877.633 534.064C881.661 519.223 886.855 499.399 890.141 484.346C894.912 432.509 758.269 377.173 638.163 382.367C635.724 394.452 632.65 406.643 628.834 418.94C757.739 430.813 886.537 500.035 876.466 537.986ZM875.936 539.682C879.117 529.399 871.484 515.618 851.555 499.823C803.746 461.767 703.675 426.042 628.516 420C632.65 406.961 635.936 394.028 638.481 381.095C716.608 376.007 818.905 402.827 866.714 440.883C885.371 455.83 892.898 470.247 890.565 482.65C886.961 498.127 882.085 518.799 877.739 534.064L875.936 539.682Z"
        fill="#345039"></path>
      <path
        d="M839.364 628.092L852.191 601.59L863.004 576.042C866.29 567.456 858.339 554.417 837.88 538.198C790.071 500.141 692.12 458.481 619.399 445.336C614.523 457.632 609.011 469.823 602.756 482.014C670.707 505.548 764.841 555.689 812.65 593.746C833.746 610.601 842.332 622.261 839.364 628.092Z"
        fill="#345039"></path>
      <path
        d="M839.364 628.092L852.191 601.59L863.004 576.042C866.29 567.456 858.339 554.417 837.88 538.198C790.071 500.141 692.12 458.481 619.399 445.336C614.523 457.632 609.011 469.823 602.756 482.014C670.707 505.548 764.841 555.689 812.65 593.746C833.746 610.601 842.332 622.261 839.364 628.092ZM838.516 629.682C844.452 605.83 709.717 522.297 602.12 483.18C608.799 470.247 614.735 457.208 619.823 444.064C745.972 468.233 872.756 542.332 863.64 574.24L852.191 601.484L838.516 629.682Z"
        fill="#345039"></path>
      <path
        d="M786.573 712.58C796.537 698.375 809.576 679.399 818.799 664.77C821.025 661.166 811.802 650.565 790.283 633.498C742.474 595.442 651.732 539.258 587.915 508.304C580.707 520.283 572.968 531.731 564.7 542.65C621.944 583.463 707.279 647.491 755.088 685.548C776.926 702.827 787.209 711.731 786.573 712.58Z"
        fill="#345039"></path>
      <path
        d="M786.572 712.58C796.537 698.375 809.576 679.399 818.799 664.77C821.025 661.166 811.802 650.565 790.283 633.498C742.474 595.442 651.731 539.258 587.915 508.304C580.707 520.283 572.968 531.731 564.7 542.65C621.943 583.463 707.279 647.491 755.088 685.548C776.926 702.827 787.208 711.731 786.572 712.58ZM785.512 714.064C786.042 713.322 775.76 704.417 754.134 687.138C706.325 649.081 621.095 584.735 564.17 543.71C572.968 532.049 581.131 519.859 588.869 507.138C652.898 537.774 743.746 593.746 791.555 631.696C812.862 648.763 822.085 659.364 819.859 663.18C809.788 678.657 796.219 699.117 785.512 714.064Z"
        fill="#345039"></path>
      <path
        d="M722.756 785.088L736.113 771.731C743.64 763.569 753.816 752.862 761.025 744.382C760.177 745.336 749.046 737.385 727.421 720.212C679.611 682.155 598.516 612.827 546.466 565.548C537.668 575.83 528.445 585.583 518.905 594.7C563.11 650.247 637.951 726.36 685.654 764.417C707.173 781.59 719.576 788.057 722.756 785.088Z"
        fill="#345039"></path>
      <path
        d="M722.756 785.088L736.113 771.731C743.64 763.569 753.816 752.862 761.025 744.382C760.177 745.336 749.046 737.385 727.421 720.212C679.611 682.156 598.516 612.827 546.467 565.548C537.668 575.83 528.445 585.583 518.905 594.7C563.11 650.247 637.951 726.36 685.654 764.417C707.173 781.59 719.576 788.056 722.756 785.088ZM721.484 786.36C718.198 789.435 705.795 782.862 684.382 765.901C636.573 727.845 562.05 651.519 518.057 595.76C528.233 586.007 537.986 575.618 547.315 564.7C599.576 611.661 680.883 680.883 728.693 718.94C750.318 736.219 761.449 744.064 762.191 743.216C754.346 751.802 744.17 763.569 736.113 771.943L721.484 786.36Z"
        fill="#345039"></path>
      <path
        d="M649.717 844.982C660 837.456 673.781 827.491 683.852 819.541L693.286 811.802C688.304 815.936 675.053 810.212 653.852 793.357C606.042 755.3 536.184 674.841 497.915 613.781C487.951 622.155 477.668 630 467.173 637.208C496.643 704.947 559.505 790.813 607.315 828.869C627.774 845.194 642.191 850.071 649.717 844.982Z"
        fill="#345039"></path>
      <path
        d="M649.717 844.982C660 837.456 673.781 827.491 683.852 819.541L693.286 811.802C688.304 815.936 675.053 810.212 653.852 793.357C606.042 755.3 536.184 674.841 497.915 613.781C487.951 622.155 477.668 630 467.173 637.208C496.643 704.947 559.505 790.813 607.315 828.869C627.774 845.194 642.191 850.071 649.717 844.982ZM648.233 846.042C640.707 851.131 626.184 846.254 605.724 830.035C557.915 791.979 495.371 705.901 466.113 638.057C477.244 630.424 488.163 622.049 498.763 613.039C537.244 673.781 607.421 754.134 655.23 792.191C676.431 809.046 689.682 814.77 694.558 810.742L683.746 819.647C673.251 827.597 659.258 838.41 648.233 846.042Z"
        fill="#345039"></path>
      <path
        d="M568.834 891.307C583.357 883.993 602.65 874.134 616.749 866.078C607.527 871.484 592.474 867.032 572.544 851.131C524.735 813.074 467.279 723.71 444.276 651.944C433.463 658.304 422.544 664.134 411.52 669.223C425.194 745.972 475.124 839.258 522.933 877.314C541.696 892.367 557.491 896.608 568.834 891.307Z"
        fill="#345039"></path>
      <path
        d="M568.834 891.307C583.357 883.993 602.65 874.134 616.749 866.078C607.527 871.484 592.474 867.032 572.544 851.131C524.735 813.074 467.279 723.71 444.276 651.943C433.463 658.304 422.544 664.134 411.52 669.223C425.194 745.972 475.124 839.258 522.933 877.314C541.696 892.368 557.491 896.608 568.834 891.307ZM567.244 892.05C555.901 897.244 540.106 893.11 521.237 878.057C473.428 840 423.71 746.608 410.353 669.753C422.12 664.346 433.781 658.198 445.23 651.413C468.551 722.968 526.325 812.226 574.028 850.283C593.958 866.184 609.117 870.636 618.233 865.23C603.074 873.604 582.827 884.629 567.244 892.05Z"
        fill="#345039"></path>
      <path
        d="M480.954 922.579L500.565 917.173C510.212 913.993 523.145 909.965 532.686 906.36C520.177 910.919 504.276 906.784 486.36 892.474C438.551 854.417 394.134 758.799 387.35 679.187C376.113 683.322 364.876 686.926 353.64 689.682C350.883 772.261 387.562 870.318 435.265 908.375C451.696 921.625 467.385 925.866 480.954 922.579Z"
        fill="#345039"></path>
      <path
        d="M480.954 922.579L500.565 917.173C510.212 913.993 523.145 909.965 532.686 906.36C520.177 910.919 504.276 906.784 486.361 892.473C438.551 854.417 394.134 758.799 387.35 679.187C376.113 683.322 364.876 686.926 353.64 689.682C350.883 772.261 387.562 870.318 435.265 908.375C451.696 921.625 467.385 925.866 480.954 922.579ZM479.258 923.004C465.689 926.29 450.106 921.943 433.675 908.905C385.866 870.848 349.505 772.686 352.58 690.106C364.558 687.138 376.537 683.428 388.516 678.869C395.618 758.269 440.353 853.887 488.057 891.943C506.078 906.254 521.979 910.389 534.382 905.83C524.205 909.329 510.848 914.099 500.565 917.173L479.258 923.004Z"
        fill="#345039"></path>
      <path
        d="M387.456 935.724C400.919 934.77 418.834 933.498 432.297 931.908L442.474 930.424C428.693 932.65 413.64 928.092 398.481 916.113C350.672 878.057 319.717 778.834 329.364 694.876C318.127 696.678 306.891 697.739 295.866 698.163C270.318 826.219 325.76 937.739 387.456 935.724Z"
        fill="#345039"></path>
      <path
        d="M387.456 935.724C400.919 934.77 418.834 933.498 432.297 931.908L442.474 930.424C428.693 932.65 413.64 928.092 398.481 916.113C350.671 878.057 319.717 778.834 329.364 694.876C318.127 696.678 306.891 697.739 295.866 698.163C270.318 826.219 325.76 937.739 387.456 935.724ZM385.654 935.83C309.541 932.226 272.12 802.155 294.7 698.163C306.467 697.845 318.445 696.678 330.424 694.664C321.095 778.622 352.368 877.845 400.071 915.795C415.336 927.88 430.389 932.332 444.17 930.106L432.191 931.908C418.304 933.392 399.647 935.83 385.654 935.83Z"
        fill="#345039"></path>
      <path
        d="M290.777 927.138C307.632 930.106 330.212 933.392 347.173 935.088C335.088 934.24 323.003 929.47 311.661 920.459C263.852 882.403 246.148 782.544 272.014 697.739C261.095 696.997 250.389 695.512 239.788 693.18C194.099 810.742 228.975 913.569 290.777 927.138Z"
        fill="#345039"></path>
      <path
        d="M290.777 927.138C307.633 930.106 330.212 933.392 347.173 935.088C335.088 934.24 323.004 929.47 311.661 920.459C263.852 882.403 246.148 782.544 272.014 697.739C261.095 696.996 250.389 695.512 239.788 693.18C194.099 810.742 228.975 913.569 290.777 927.138ZM288.975 926.714C220.071 906.678 196.643 797.385 238.834 692.968C250.071 695.406 261.519 696.996 273.074 697.739C247.42 782.544 265.442 882.509 313.251 920.459C324.7 929.576 336.785 934.346 348.975 935.088C314.841 931.696 304.558 930.742 288.975 926.714Z"
        fill="#345039"></path>
      <path
        d="M195.265 892.261L217.103 902.968C226.961 906.89 240 912.403 249.965 915.901C242.544 913.357 235.548 909.541 228.869 904.24C181.06 866.184 175.972 768.763 217.315 687.032C211.272 685.018 205.23 682.686 199.399 680.035C195.371 678.233 191.555 676.325 187.739 674.311C137.915 752.438 136.325 846.996 184.028 884.947C187.739 887.809 191.449 890.247 195.265 892.261Z"
        fill="#345039"></path>
      <path
        d="M195.265 892.261L217.102 902.968C226.961 906.89 240 912.403 249.965 915.901C242.544 913.357 235.548 909.541 228.869 904.24C181.06 866.184 175.972 768.763 217.314 687.032C211.272 685.018 205.23 682.686 199.399 680.035C195.371 678.233 191.555 676.325 187.738 674.311C137.915 752.438 136.325 846.996 184.028 884.947C187.738 887.809 191.449 890.247 195.265 892.261ZM193.569 891.307C189.859 889.293 186.254 886.961 182.862 884.205C135.053 846.148 136.961 751.802 186.996 673.781C191.025 676.007 195.265 678.021 199.611 679.929C205.76 682.686 212.12 685.124 218.481 687.244C177.35 769.081 182.756 866.608 230.565 904.664C237.244 909.965 244.452 913.887 251.979 916.431C241.484 912.509 227.491 907.42 217.314 902.968L193.569 891.307Z"
        fill="#345039"></path>
      <path
        d="M113.64 832.686C121.59 839.788 132.085 849.541 140.353 856.219L158.799 869.894C157.527 869.046 156.254 868.092 154.982 867.032C107.173 828.975 113.322 737.173 168.551 662.438C165.265 660.106 161.979 657.774 158.905 655.23C154.028 651.307 149.364 647.173 144.912 642.827C85.3356 709.399 72.2968 792.509 113.64 832.686Z"
        fill="#345039"></path>
      <path
        d="M113.64 832.685C121.59 839.788 132.085 849.541 140.353 856.219L158.799 869.894C157.527 869.046 156.254 868.092 154.982 867.032C107.173 828.975 113.322 737.173 168.551 662.438C165.265 660.106 161.979 657.774 158.905 655.23C154.028 651.307 149.364 647.173 144.912 642.827C85.3357 709.399 72.2969 792.509 113.64 832.685ZM112.262 831.307C71.3428 791.025 84.5937 708.339 144.17 642.191C148.834 646.749 153.71 651.201 158.905 655.23C162.297 657.88 165.795 660.53 169.399 662.968C114.382 737.915 108.445 829.823 156.254 867.88C157.633 868.94 159.011 870 160.389 870.954L140.353 856.113C131.767 848.905 120.318 839.152 112.262 831.307Z"
        fill="#345039"></path>
      <path
        d="M53.5336 755.3C62.6502 769.611 75.4771 788.269 85.6538 801.944C52.0495 760.389 69.7527 685.76 130.177 626.714C123.816 618.869 117.986 610.389 112.898 601.484C52.2615 650.459 29.47 714.064 53.5336 755.3Z"
        fill="#345039"></path>
      <path
        d="M53.5336 755.3C62.6503 769.611 75.4771 788.269 85.6538 801.943C52.0495 760.389 69.7527 685.76 130.177 626.714C123.816 618.869 117.986 610.389 112.898 601.484C52.2616 650.459 29.47 714.064 53.5336 755.3ZM52.5796 753.71C28.834 712.474 51.8376 649.293 112.262 600.636C117.668 610.071 123.816 619.081 130.707 627.456C70.2827 686.714 52.6856 761.873 86.7138 803.322C64.1343 773.428 63.2863 772.262 52.5796 753.71Z"
        fill="#345039"></path>
      <path
        d="M16.3251 667.633L19.5054 678.339C23.9577 690.848 30 707.385 35.0883 719.576C17.1731 679.611 42.6149 623.64 102.509 581.661C98.2686 572.12 94.6643 562.262 91.8022 551.979C5.72438 603.498 12.2969 653.534 16.3251 667.633Z"
        fill="#345039"></path>
      <path
        d="M16.3251 667.632L19.5053 678.339C23.9576 690.848 30 707.385 35.0883 719.576C17.1731 679.611 42.6149 623.64 102.509 581.661C98.2686 572.12 94.6643 562.261 91.8021 551.979C5.72438 603.498 12.2969 653.534 16.3251 667.632ZM15.9011 665.936C3.49825 607.527 64.7704 566.078 91.5902 550.919C94.6644 561.837 98.4806 572.438 103.039 582.509C43.0389 624.806 17.8092 681.095 35.9365 721.06C30.7421 708.339 23.9576 691.166 19.6113 678.127L15.9011 665.936Z"
        fill="#345039"></path>
      <path
        d="M0.742073 575.3C1.69614 585.689 2.75622 599.576 4.13431 609.965L7.31452 629.258C1.69615 581.025 47.2791 548.163 86.5017 529.187C84.4876 518.481 83.2155 507.35 82.4735 496.113C12.8269 522.191 -0.424004 553.569 0.742073 575.3Z"
        fill="#345039"></path>
      <path
        d="M0.742088 575.3C1.69615 585.689 2.75623 599.576 4.13433 609.965L7.31454 629.258C1.69617 581.025 47.2792 548.163 86.5018 529.187C84.4877 518.481 83.2156 507.35 82.4736 496.113C12.8269 522.191 -0.423988 553.569 0.742088 575.3ZM0.63604 573.498C-1.16608 543.922 28.1979 513.498 82.4736 494.947C83.1096 507.032 84.5937 518.799 86.7139 530.141C29.788 557.067 1.06011 596.714 7.63255 630.954L4.13433 609.859C3.07426 599.046 1.37809 584.417 0.63604 573.498Z"
        fill="#345039"></path>
      <path
        d="M4.55845 481.696C2.86234 497.915 0.84819 519.647 0.10614 535.972C4.13441 498.975 46.8553 480.424 82.1556 471.307C82.4736 459.647 83.4277 447.88 85.1238 435.901C35.9365 442.367 7.52664 460.071 4.55845 481.696Z"
        fill="#345039"></path>
      <path
        d="M4.55833 481.696C2.86222 497.915 0.848068 519.647 0.106026 535.972C4.13429 498.975 46.8552 480.424 82.1555 471.307C82.4735 459.647 83.4276 447.88 85.1237 435.901C35.9364 442.368 7.52653 460.071 4.55833 481.696ZM4.87634 480C7.84454 458.587 36.2545 440.989 85.2297 434.735C83.4276 447.456 82.3675 460.071 82.1555 472.474C29.894 486.148 0.742065 511.272 0.106026 537.774C1.06009 520.389 2.65019 497.173 4.87634 480Z"
        fill="#345039"></path>
      <path
        d="M26.2897 389.364L22.2615 401.979C18.9753 414.276 14.417 430.495 11.5548 442.898C18.1272 422.862 44.417 411.731 89.788 409.823C92.4382 397.739 95.8304 385.442 99.8586 373.251C83.5336 371.979 34.1343 368.057 26.2897 389.364Z"
        fill="#345039"></path>
      <path
        d="M26.2898 389.364L22.2615 401.979C18.9753 414.276 14.417 430.495 11.5548 442.898C18.1273 422.862 44.417 411.731 89.7881 409.823C92.4383 397.739 95.8305 385.442 99.8587 373.251C83.5337 371.979 34.1343 368.057 26.2898 389.364ZM26.8198 387.668C31.2721 378.445 43.781 366.89 100.177 372.085C95.8305 385.124 92.2263 398.163 89.4701 410.989C42.5089 413.004 15.0531 426.148 11.1308 444.594C14.311 431.767 18.4453 414.594 22.1556 401.979L26.8198 387.668Z"
        fill="#345039"></path>
      <path
        d="M64.8764 299.576C59.6821 310.071 52.4736 323.852 47.7032 334.452L40.3887 351.413C44.735 340.707 68.7986 338.269 109.717 346.749C114.806 334.452 120.53 322.261 127.103 310.071C89.7881 296.078 68.3746 293.004 64.8764 299.576Z"
        fill="#345039"></path>
      <path
        d="M64.8764 299.576C59.682 310.071 52.4736 323.852 47.7032 334.452L40.3887 351.413C44.735 340.707 68.7986 338.269 109.717 346.749C114.806 334.452 120.53 322.261 127.103 310.071C89.788 296.078 68.3746 293.004 64.8764 299.576ZM65.8304 297.986C69.2226 291.519 90.5301 294.7 127.739 308.905C120.742 321.837 114.594 334.876 109.187 347.915C92.3322 344.841 47.5973 336.572 39.6467 353.11L47.7032 334.452C53.1096 323.534 60 308.693 65.8304 297.986Z"
        fill="#345039"></path>
      <path
        d="M575.83 154.452C572.544 151.378 569.046 148.41 565.548 145.654C509.47 217.951 501.943 306.254 549.117 343.781L550.071 344.629C507.668 305.3 518.587 222.085 575.83 154.452Z"
        fill="#345039"></path>
      <path
        d="M575.83 154.452C572.544 151.378 569.046 148.41 565.548 145.654C509.47 217.951 501.943 306.254 549.117 343.781L550.071 344.629C507.668 305.3 518.587 222.085 575.83 154.452ZM577.951 153.392C519.435 221.025 507.668 304.982 550.177 344.629L549.117 343.675C501.625 305.83 509.576 216.36 566.926 143.852C570.742 146.926 574.346 150.106 577.951 153.392Z"
        fill="#345039"></path>
      <path
        d="M608.587 194.523C603.286 185.936 597.35 177.668 590.883 170.035C532.579 230.247 516.784 305.3 551.661 346.113L551.873 346.431C552.615 347.385 553.463 348.657 554.099 349.611C528.975 308.799 549.965 244.77 608.587 194.523Z"
        fill="#345039"></path>
      <path
        d="M608.587 194.523C603.286 185.936 597.35 177.668 590.883 170.035C532.58 230.247 516.784 305.3 551.661 346.113L551.873 346.431C552.615 347.385 553.463 348.657 554.099 349.611C528.975 308.799 549.965 244.77 608.587 194.523ZM610.813 193.993C551.025 244.134 529.187 308.587 554.311 349.823C553.675 348.763 552.721 347.491 551.979 346.431L551.661 346.007C516.148 304.982 532.368 228.551 591.837 167.703C598.834 175.866 605.194 184.664 610.813 193.993Z"
        fill="#345039"></path>
      <path
        d="M630.318 242.862C627.244 232.792 623.428 223.145 619.081 213.816C560.989 257.067 537.138 313.569 556.113 353.322C556.961 355.336 558.021 357.986 558.657 360L558.763 360.318C547.315 323.534 573.71 276.996 630.318 242.862Z"
        fill="#345039"></path>
      <path
        d="M630.318 242.862C627.244 232.792 623.428 223.145 619.081 213.816C560.989 257.067 537.138 313.569 556.113 353.322C556.961 355.336 558.021 357.986 558.657 360L558.763 360.318C547.315 323.534 573.71 276.996 630.318 242.862ZM632.438 242.756C574.664 276.678 547.527 323.534 558.869 360.636L558.657 360C557.915 357.88 556.855 355.124 556.007 353.11C536.608 312.933 560.989 255.371 620.353 211.696C625.124 221.661 629.152 232.049 632.438 242.756Z"
        fill="#345039"></path>
      <path
        d="M640.707 297.668C639.859 286.537 638.269 275.724 636.148 265.23C580.919 293.216 553.357 333.18 560.671 367.314L561.625 372.933L562.262 379.081C559.717 349.187 587.915 317.703 640.707 297.668Z"
        fill="#345039"></path>
      <path
        d="M640.707 297.668C639.859 286.537 638.268 275.724 636.148 265.23C580.919 293.216 553.357 333.18 560.671 367.314L561.625 372.933L562.261 379.081C559.717 349.187 587.915 317.703 640.707 297.668ZM642.615 297.986C588.763 317.809 559.823 349.293 562.155 379.399L561.413 372.827C561.095 371.025 560.777 368.693 560.353 366.89C552.827 332.226 581.025 291.519 637.526 263.11C640.071 274.452 641.767 286.113 642.615 297.986Z"
        fill="#345039"></path>
      <path
        d="M639.329 356.82C640.707 345.053 641.449 333.392 641.555 321.943C590.777 336.678 562.685 362.438 562.473 388.94V390.106C562.261 394.664 561.837 400.601 561.413 405.159C563.958 383.322 591.519 364.77 639.329 356.82Z"
        fill="#345039"></path>
      <path
        d="M639.329 356.82C640.707 345.053 641.449 333.392 641.555 321.943C590.777 336.678 562.686 362.438 562.474 388.94V390.106C562.262 394.664 561.837 400.601 561.413 405.159C563.958 383.322 591.519 364.77 639.329 356.82ZM641.025 357.668C592.155 365.194 564.064 383.746 561.413 405.795C561.837 401.131 562.368 394.876 562.58 390.212V388.516C562.58 361.484 591.519 335.194 643.463 320.247C643.357 332.544 642.615 345.053 641.025 357.668Z"
        fill="#345039"></path>
      <path
        d="M625.866 418.622C629.682 406.537 632.756 394.452 635.088 382.473C603.816 385.442 566.926 392.12 559.293 418.198C558.021 423.604 556.325 430.813 554.735 436.113L554.311 437.597C558.763 423.498 583.675 415.866 625.866 418.622Z"
        fill="#345039"></path>
      <path
        d="M625.866 418.622C629.682 406.537 632.756 394.452 635.088 382.473C603.816 385.442 566.926 392.12 559.293 418.198C558.021 423.604 556.325 430.813 554.735 436.113L554.311 437.597C558.763 423.498 583.675 415.866 625.866 418.622ZM627.35 420C584.099 416.714 558.657 424.134 554.205 438.339L554.841 436.219C556.325 430.707 558.339 423.286 559.505 417.668C563.216 398.587 590.459 384.488 637.314 381.307C634.664 394.028 631.378 406.961 627.35 420Z"
        fill="#345039"></path>
      <path
        d="M600.106 481.166C606.36 469.081 611.767 456.996 616.643 444.806C576.784 437.915 553.357 441.413 549.011 452.544L544.664 462.827L539.258 473.958C542.862 466.961 563.852 468.869 600.106 481.166Z"
        fill="#345039"></path>
      <path
        d="M600.106 481.166C606.36 469.081 611.767 456.996 616.643 444.806C576.784 437.915 553.357 441.413 549.011 452.544L544.664 462.827L539.258 473.958C542.862 466.961 563.852 468.869 600.106 481.166ZM601.166 482.862C587.173 478.198 544.664 463.781 538.94 474.7L544.664 462.933L549.329 451.908C552.085 447.032 559.505 434.099 618.869 443.958C613.675 456.996 607.845 469.929 601.166 482.862Z"
        fill="#345039"></path>
      <path
        d="M562.685 541.06C570.742 530.247 578.481 518.905 585.583 507.032C551.979 490.813 533.109 485.3 530.459 489.647C526.325 496.007 520.813 504.382 516.36 510.53C517.102 509.576 532.897 519.859 562.685 541.06Z"
        fill="#345039"></path>
      <path
        d="M562.686 541.06C570.742 530.247 578.481 518.905 585.583 507.032C551.979 490.813 533.11 485.3 530.459 489.647C526.325 496.007 520.813 504.382 516.36 510.53C517.102 509.576 532.898 519.859 562.686 541.06ZM563.216 543.074C532.579 521.025 516.572 510.318 515.83 511.272C520.495 504.7 526.537 495.795 530.883 489.011C533.534 484.452 553.145 490.071 587.809 506.608C580.177 519.329 572.014 531.519 563.216 543.074Z"
        fill="#345039"></path>
      <path
        d="M517.315 592.685C526.749 583.569 535.866 573.922 544.558 563.852C517.421 539.152 504.17 525.795 505.23 524.735C501.943 528.339 497.703 533.216 494.311 536.714L488.481 542.438C484.664 545.936 494.205 563.322 517.315 592.685Z"
        fill="#345039"></path>
      <path
        d="M517.314 592.685C526.749 583.569 535.866 573.922 544.558 563.852C517.421 539.152 504.17 525.795 505.23 524.735C501.943 528.339 497.703 533.216 494.311 536.714L488.481 542.438C484.664 545.936 494.205 563.322 517.314 592.685ZM517.421 594.806C493.675 564.488 483.922 546.572 487.951 542.862L494.311 536.608C497.703 532.792 502.473 527.915 505.76 523.993C504.806 525.053 518.587 538.622 546.678 563.852C537.35 574.77 527.597 585.159 517.421 594.806Z"
        fill="#345039"></path>
      <path
        d="M466.113 634.664C476.502 627.456 486.678 619.717 496.537 611.449C476.396 578.799 469.823 558.869 475.866 553.781L471.837 557.067C467.703 560.247 462.191 564.488 457.951 567.456C448.198 574.134 450.212 597.562 466.113 634.664Z"
        fill="#345039"></path>
      <path
        d="M466.113 634.664C476.502 627.456 486.679 619.717 496.537 611.449C476.396 578.799 469.823 558.869 475.866 553.781L471.838 557.067C467.703 560.247 462.191 564.488 457.951 567.456C448.198 574.134 450.212 597.562 466.113 634.664ZM465.795 636.996C449.47 598.834 447.35 574.664 457.421 567.88C461.767 564.7 467.703 560.459 471.944 557.067L476.502 553.251C470.459 558.339 477.35 578.693 498.445 612.085C487.739 621.095 476.926 629.364 465.795 636.996Z"
        fill="#345039"></path>
      <path
        d="M410.883 666.36C421.802 661.272 432.615 655.548 443.322 649.293C430.813 609.011 432.297 583.251 444.912 575.83C439.717 578.693 432.615 582.509 427.314 585.159C410.353 592.898 403.463 621.625 410.883 666.36Z"
        fill="#345039"></path>
      <path
        d="M410.883 666.36C421.802 661.272 432.615 655.548 443.322 649.293C430.813 609.011 432.297 583.251 444.912 575.83C439.717 578.693 432.615 582.509 427.314 585.159C410.353 592.898 403.463 621.625 410.883 666.36ZM410.141 668.693C402.403 622.897 409.399 593.322 426.678 585.477C432.403 582.615 439.929 578.693 445.442 575.618C432.827 583.039 431.661 609.435 444.806 650.459C433.463 657.138 421.908 663.286 410.141 668.693Z"
        fill="#345039"></path>
      <path
        d="M353.746 686.714C364.876 683.958 376.007 680.459 387.138 676.325C383.534 628.41 394.876 597.668 415.23 590.247C412.156 591.307 408.127 592.685 405.053 593.64L399.541 595.124C374.205 601.378 356.184 634.346 353.746 686.714Z"
        fill="#345039"></path>
      <path
        d="M353.746 686.714C364.876 683.958 376.007 680.459 387.138 676.325C383.534 628.41 394.876 597.668 415.23 590.247C412.156 591.307 408.127 592.685 405.053 593.64L399.541 595.124C374.205 601.378 356.184 634.346 353.746 686.714ZM352.579 688.94C354.806 635.3 373.251 601.484 399.117 595.23L405.053 593.64C408.233 592.579 412.58 591.201 415.76 590.035C395.3 597.668 384.17 628.94 388.304 677.809C376.431 682.261 364.558 685.972 352.579 688.94Z"
        fill="#345039"></path>
      <path
        d="M296.608 694.876C307.526 694.558 318.657 693.392 329.788 691.696C336.89 636.254 360.424 601.908 389.576 597.244L387.032 597.668C384.17 597.986 380.459 598.304 377.597 598.516C329.152 603.18 306.784 653.534 296.608 694.876Z"
        fill="#345039"></path>
      <path
        d="M296.608 694.876C307.527 694.558 318.657 693.392 329.788 691.696C336.891 636.254 360.424 601.908 389.576 597.244L387.032 597.668C384.17 597.986 380.459 598.304 377.597 598.516C329.152 603.18 306.785 653.534 296.608 694.876ZM295.018 696.891C315.689 618.233 350.989 599.894 377.067 598.41C380.035 598.198 383.958 597.88 386.926 597.562L389.894 597.138C360.636 601.908 337.103 636.996 330.53 693.498C318.657 695.406 306.785 696.572 295.018 696.891Z"
        fill="#345039"></path>
      <path
        d="M241.166 690C251.555 692.226 262.261 693.71 272.968 694.452C293.004 631.802 331.908 595.654 370.071 598.304C367.633 598.092 364.452 597.668 362.12 597.244C292.368 586.643 251.979 665.618 241.166 690Z"
        fill="#345039"></path>
      <path
        d="M241.166 690C251.555 692.226 262.261 693.71 272.968 694.452C293.003 631.802 331.908 595.654 370.071 598.304C367.632 598.092 364.452 597.668 362.12 597.244C292.367 586.643 251.979 665.618 241.166 690ZM239.364 691.802C286.113 590.459 345.053 593.746 362.014 597.244C367.314 598.198 367.314 598.198 370.495 598.41C332.12 595.972 293.109 632.862 273.498 696.678C261.943 695.83 250.495 694.24 239.364 691.802Z"
        fill="#345039"></path>
      <path
        d="M189.859 671.343C193.569 673.357 197.491 675.265 201.413 676.961C207.244 679.611 213.074 681.837 219.117 683.852C254.947 615.477 312.721 580.601 358.198 596.078C357.35 595.76 356.184 595.336 355.336 594.912L353.852 594.17C306.148 568.94 235.972 601.06 189.859 671.343Z"
        fill="#345039"></path>
      <path
        d="M189.859 671.343C193.569 673.357 197.491 675.265 201.413 676.961C207.244 679.611 213.074 681.837 219.117 683.852C254.947 615.477 312.721 580.601 358.198 596.078C357.35 595.76 356.184 595.336 355.336 594.912L353.852 594.17C306.148 568.94 235.972 601.06 189.859 671.343ZM187.738 672.721C234.17 601.06 305.618 568.41 353.639 594.276L355.23 595.018C356.184 595.336 357.35 595.866 358.304 596.184C312.509 580.813 254.523 616.537 219.011 686.184C212.65 684.064 206.396 681.625 200.247 678.869C196.007 676.961 191.767 674.841 187.738 672.721Z"
        fill="#345039"></path>
      <path
        d="M161.131 652.579C164.205 655.018 167.385 657.456 170.671 659.682C224.523 588.869 303.922 559.823 351.625 593.004L350.777 592.367C303.604 554.841 219.117 581.873 161.131 652.579Z"
        fill="#345039"></path>
      <path
        d="M161.131 652.579C164.205 655.018 167.385 657.456 170.671 659.682C224.523 588.869 303.922 559.823 351.625 593.004L350.777 592.368C303.604 554.841 219.117 581.873 161.131 652.579ZM159.753 654.276C217.738 582.297 303.18 554.523 350.777 592.368L351.731 593.11C303.604 560.035 223.675 589.929 170.141 662.014C166.643 659.576 163.145 656.926 159.753 654.276Z"
        fill="#345039"></path>
    </g>
    <defs>
      <clipPath id="clip0_1_2">
        <rect
          width="900"
          height="935.936"
          fill="white"
          transform="matrix(-1 0 0 1 900 0)"></rect>
      </clipPath>
    </defs>
  </svg>

  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative">
    <div class="max-w-2xl">
      <h2
        class="mt-8 text-4xl text-black dark:text-white/70 font-semibold font-display tracking-tight"
      >
        Supreme is loved all around and for the consistent UI Kit for your SaaS
      </h2>
      <p class="text-neutral-600 dark:text-neutral-400">
        Supreme powers thousands of high-impact product teams. From next-gen
        startups who reach for the stars to established greats who change the
        world.
      </p>
    </div>
    <ul
      role="list"
      class="grid max-w-2xl grid-cols-1 gap-6 mx-auto sm:gap-8 lg:max-w-none lg:grid-cols-3 -mt-62"
    >
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8 mt-32">
          <li>
            <figure
              class="relative h-full p-6 bg-[#c5c5c5]/20 dark:bg-[#15171c]/20 backdrop-blur-xl border border-black/5 dark:border-white/5 shadow-2xl rounded-3xl"
            >
              <blockquote class="relative">
                <p class="text-base text-neutral-800 dark:text-neutral-500">
                  Snowflake is a cloud data platform that enables data storage,
                  processing, and analytics solutions for businesses.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-white/5"
              >
                <div>
                  <div
                    class="text-base text-neutral-800 dark:text-neutral-500 font-display"
                  >
                    Annur Flint
                  </div>
                  <div class="mt-1 text-xs text-[#345039]">
                    CEO at Flint LLC
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-neutral-50">
                  <img
                    alt=""
                    src="
                                    https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80
                                  "
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure
              class="relative h-full p-6 bg-[#c5c5c5]/20 dark:bg-[#15171c]/20 backdrop-blur-xl border border-black/5 dark:border-white/5 shadow-2xl rounded-3xl"
            >
              <blockquote class="relative">
                <p class="text-base text-neutral-800 dark:text-neutral-500">
                  With the Data Cloud platform, Snowflake manages the
                  complexities of data storage infrastructure, enabling
                  organizations.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-white/5"
              >
                <div>
                  <div
                    class="text-base text-neutral-800 dark:text-neutral-500 font-display"
                  >
                    Jordan Pettersson
                  </div>
                  <div class="mt-1 text-xs text-[#345039]">
                    Director at Pettersson Industries
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-neutral-50">
                  <img
                    alt=""
                    src="
                                    https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80
                                  "
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8 mt-12">
          <li>
            <figure
              class="relative h-full p-6 bg-[#c5c5c5]/20 dark:bg-[#15171c]/20 backdrop-blur-xl border border-black/5 dark:border-white/5 shadow-2xl rounded-3xl"
            >
              <blockquote class="relative">
                <p class="text-base text-neutral-800 dark:text-neutral-500">
                  Upswing securities passively index inverse bondholders
                  capitalization financial health Moody's debt managed.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-white/5"
              >
                <div>
                  <div
                    class="text-base text-neutral-800 dark:text-neutral-500 font-display"
                  >
                    Oliver Benji
                  </div>
                  <div class="mt-1 text-xs text-[#345039]">
                    Founder of Benji and Tom
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-neutral-50">
                  <img
                    alt=""
                    src="
                                    https://images.unsplash.com/photo-1624224971170-2f84fed5eb5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1999&q=80
                                  "
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure
              class="relative h-full p-6 bg-[#c5c5c5]/20 dark:bg-[#15171c]/20 backdrop-blur-xl border border-black/5 dark:border-white/5 shadow-2xl rounded-3xl"
            >
              <blockquote class="relative">
                <p class="text-base text-neutral-800 dark:text-neutral-500">
                  Receive bondholders called capitalization investment grade
                  bonds bills management district stocks. Potential funds
                  consulting.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-white/5"
              >
                <div>
                  <div
                    class="text-base text-neutral-800 dark:text-neutral-500 font-display"
                  >
                    Messi Lionel
                  </div>
                  <div class="mt-1 text-xs text-[#345039]">COO at Pff Inc</div>
                </div>
                <div class="overflow-hidden rounded-full bg-neutral-50">
                  <img
                    alt=""
                    src="
                                    https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80
                                  "
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8 -mt-12">
          <li>
            <figure
              class="relative h-full p-6 bg-[#c5c5c5]/20 dark:bg-[#15171c]/20 backdrop-blur-xl border border-black/5 dark:border-white/5 shadow-2xl rounded-3xl"
            >
              <blockquote class="relative">
                <p class="text-base text-neutral-800 dark:text-neutral-500">
                  Debt bills lucrative capitalization municipal bonds government
                  401k bear bull credit corporate bonds called NYSE finance.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-white/5"
              >
                <div>
                  <div
                    class="text-base text-neutral-800 dark:text-neutral-500 font-display"
                  >
                    Melon Tusk
                  </div>
                  <div class="mt-1 text-xs text-[#345039]">
                    Founder of Fesla
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-neutral-50">
                  <img
                    alt=""
                    src="
                                    https://images.unsplash.com/photo-1602434228300-a645bce6891b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1639&q=80
                                  "
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure
              class="relative h-full p-6 bg-[#c5c5c5]/20 dark:bg-[#15171c]/20 backdrop-blur-xl border border-black/5 dark:border-white/5 shadow-2xl rounded-3xl"
            >
              <blockquote class="relative">
                <p class="text-base text-neutral-800 dark:text-neutral-500">
                  Managed prices bondholders federal risk NASDAQ hedge fund
                  expenses municipal bonds management.
                </p>
              </blockquote>
              <figcaption
                class="relative flex items-center justify-between pt-6 mt-6 border-t border-white/5"
              >
                <div>
                  <div
                    class="text-base text-neutral-800 dark:text-neutral-500 font-display"
                  >
                    Mlgan
                  </div>
                  <div class="mt-1 text-xs text-[#345039]">
                    Director at Mlagan AB
                  </div>
                </div>
                <div class="overflow-hidden rounded-full bg-neutral-50">
                  <img
                    alt=""
                    src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    width="56"
                    height="56"
                    decoding="async"
                    data-nimg="future"
                    class="object-cover h-14 w-14"
                    loading="lazy"
                    style="color: transparent"
                  />
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
