<section
  class="spacetext h-screen flex items-center"
  style="background-image: radial-gradient(circle at 29% 55%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(45deg, rgb(83, 91, 235),rgb(76, 11, 174));">
  <div
    class="relative max-w-7xl mx-auto items-center gap-12 rounded-3xl p-8 lg:p-20 w-full lg:inline-flex">
    <div class="max-w-xl text-center mx-auto">
      <div>
        <span class="inline-flex items-center">
          <span
            class="text-base font-bold text-white px-6 py-2 rounded-lg bg-white/10 uppercase"
            >Unrapped</span
          >
        </span>
        <p class="mt-8 text-5xl font-extrabold tracking-tight text-white">
          Podcast summaries delivered to your inbox
        </p>
        <p class="max-w-xl mt-4 text-lg lg:text-xl text-slate-200">
          Skim the quotes and bullet point summaries within minutes of each
          episode release
        </p>
      </div>
      <div class="flex flex-col justify-center gap-3 mt-10 sm:flex-row">
        <form
          class="bg-white/20 border-2 border-white/30 rounded-2xl p-1.5 w-full lg:w-auto lg:mx-auto">
          <div class="w-full sm:flex sm:items-center">
            <div class="shrink">
              <input
                type="email"
                aria-label="Email address"
                placeholder="Email address"
                autocomplete="email"
                required=""
                class="block w-full p-3 bg-transparent rounded-xl border appearance-none border-transparent text-black placeholder:text-slate-300 focus:border-slate-500 focus:outline-none focus:ring-slate-500 sm:text-sm"
              />
            </div>
            <button
              class="relative inline-flex justify-center flex-none px-6 py-2.5 lg:ml-4 font-medium text-indigo-500 bg-white outline-2 outline-offset-2 0 w-full rounded-xl hover:bg-indigo-900 hover:text-white lg:w-auto active:bg-slate-600 active:text-white/80 before:transition-colors"
              type="submit">
              <span>Join us!</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
