<section
  class="flex items-center justify-center outfit"
  style="
    background-image: radial-gradient(
        circle 7px at 23% 62%,
        #1ea1ef 0%,
        #1ea1ef 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 7px at 25% 58%,
        #1ea1ef 0%,
        #1ea1ef 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 7px at 57% 71%,
        #1ea1ef 0%,
        #1ea1ef 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 65% 94%,
        #1ea1ef 0%,
        #1ea1ef 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 22% 15%,
        #1ea1ef 0%,
        #1ea1ef 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 22% 76%,
        #1ea1ef 0%,
        #1ea1ef 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 66% 78%,
        #1ea1ef 0%,
        #1ea1ef 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 12% 17%,
        #1ea1ef 0%,
        #1ea1ef 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 12px at 73% 76%,
        #1ea1ef 0%,
        #1ea1ef 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 12px at 84% 91%,
        #1ea1ef 0%,
        #1ea1ef 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle at bottom left,
        #1ea1ef 0%,
        #1ea1ef 10%,
        transparent 10%,
        transparent 90%
      ),
      linear-gradient(135deg, #ffffff, #f5f5f5);
  ">
  <div
    class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:py-24">
    <div class="mx-auto text-center">
      <div>
        <p class="font-bold text-[#1ea1ef] uppercase tracking-wide">
          Unwrapped
        </p>
        <p class="mt-8 text-5xl font-extrabold tracking-tight text-black">
          A better way to post your content

          <span class="lg:block">with people on Twitter</span>
        </p>
      </div>

      <div class="mx-auto mt-12">
        <div class="grid w-full grid-cols-1 mx-auto lg:grid-cols-3">
          <div class="max-w-md p-6 mx-auto lg:text-center">
            <div
              class="flex items-center justify-center w-12 h-12 mx-auto text-[#1ea1ef] bg-[#1ea1ef]/5 border-[#1ea1ef]/10 border rounded-xl">
              1
            </div>

            <p class="text-base text-slate-500 lg:text-lg mt-6">
              Use powerful AI tools to create, schedule, and publish your
              content
            </p>
          </div>
          <div class="max-w-md p-6 mx-auto lg:text-center">
            <div
              class="flex items-center justify-center w-12 h-12 mx-auto text-[#1ea1ef] bg-[#1ea1ef]/5 border-[#1ea1ef]/10 border rounded-xl">
              2
            </div>

            <p class="text-base text-slate-500 lg:text-lg mt-6">
              Look at your posts from a different perspective with detailed
              analytics
            </p>
          </div>
          <div class="max-w-md p-6 mx-auto lg:text-center">
            <div
              class="flex items-center justify-center w-12 h-12 mx-auto text-[#1ea1ef] bg-[#1ea1ef]/5 border-[#1ea1ef]/10 border rounded-xl">
              2
            </div>

            <p class="text-base text-slate-500 lg:text-lg mt-6">
              Manage your audience without all that boring hassle
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-center lg:max-w-sm pt-8 pb-12 mx-auto md:pt-6 mt-12 w-full">
        <form class="rounded-2xl p-1.5 bg-white border w-full lg:w-auto">
          <div class="w-full sm:flex sm:items-center">
            <div class="shrink">
              <input
                type="email"
                aria-label="Email address"
                placeholder="Email address"
                autocomplete="email"
                required=""
                class="block w-full p-3 bg-transparent border appearance-none rounded-xl border-transparent text-slate-900 placeholder:text-slate-400 focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"
              />
            </div>
            <button
              class="relative inline-flex text-base justify-center flex-none px-3 py-2.5 lg:ml-4 tracking-tighter font-semibold text-white bg-[#1ea1ef] rounded-xl outline-2 outline-offset-2 hover:before:bg-white/10 w-full hover:bg-black hover:text-white lg:w-auto active:bg-blue-600 active:text-white/80 before:transition-colors"
              type="submit">
              <span>Join the waitlist!</span>
            </button>
          </div>
        </form>
        <div class="mx-auto sm:max-w-2xl sm:flex">
          <p class="mx-auto mt-3 text-xs text-slate-500">
            By subscribing, you agree with Unwrappeds
            <a
              class="text-blue-600 hover:text-slate-900 unerline"
              target="_blank"
              href="#">Terms of Service</a
            >
            and
            <a
              class="text-blue-600 hover:text-slate-900"
              target="_blank"
              href="#">Privacy Policy</a
            >.
          </p>
        </div>
        <div class="flex justify-center space-x-6 mt-24">
          <span
            class="inline-flex justify-center w-full gap-3 lg:ml-auto md:justify-start md:w-auto">
            <a class="w-6 h-6 transition fill-slate-500 hover:text-blue-500">
              <span class="sr-only"> github</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-github"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path>
              </svg>
            </a>
            <a class="w-6 h-6 transition fill-slate-500 hover:text-blue-500">
              <span class="sr-only"> twitter</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-twitter"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"
                ></path>
              </svg>
            </a>
            <a class="w-6 h-6 transition fill-slate-500 hover:text-blue-500">
              <span class="sr-only">Instagram</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-instagram"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="4"></rect>
                <circle cx="12" cy="12" r="3"></circle>
                <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
              </svg>
            </a>
            <a class="w-6 h-6 transition fill-slate-500 hover:text-blue-500">
              <span class="sr-only">Linkedin</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-linkedin"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="8" y1="11" x2="8" y2="16"></line>
                <line x1="8" y1="8" x2="8" y2="8.01"></line>
                <line x1="12" y1="16" x2="12" y2="11"></line>
                <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
              </svg>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
