<section
  class="h-screen flex items-center justify-center space"
  style="
    background-image: radial-gradient(
        circle 7px at 23% 62%,
        #ffffff 0%,
        #ffffff 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 7px at 25% 58%,
        #ffffff 0%,
        #ffffff 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 7px at 57% 71%,
        #ffffff 0%,
        #ffffff 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 65% 94%,
        #ffffff 0%,
        #ffffff 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 22% 15%,
        #ffffff 0%,
        #ffffff 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 22% 76%,
        #ffffff 0%,
        #ffffff 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 66% 78%,
        #ffffff 0%,
        #ffffff 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 12% 17%,
        #ffffff 0%,
        #ffffff 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 12px at 73% 76%,
        #fafafa 0%,
        #fafafa 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 12px at 84% 91%,
        #fafafa 0%,
        #fafafa 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle at bottom left,
        #fff 0%,
        #fff 10%,
        transparent 10%,
        transparent 90%
      ),
      linear-gradient(135deg, rgb(28, 37, 233), rgb(61, 215, 224));
  ">
  <div
    class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="mx-auto text-center">
      <div>
        <span
          class="inline-flex items-center text-white rounded-full bg-white/10 border border-white/20 custom-blur px-3.5 py-1">
          <span class="text-base text-white font-medium tracking-tight"
            >Brand name
          </span>
        </span>
        <p
          class="mt-8 text-6xl lg:text-9xl font-extrabold tracking-tight text-white neue-power">
          Level up your <span class="lg:block">hero game</span>
        </p>
        <p class="mt-4 text-2xl tracking-tight text-fuchsia-100">
          Achievements, badges, high scores, and more!
        </p>
      </div>
      <div
        class="flex flex-col items-center lg:max-w-sm pt-8 pb-12 mx-auto md:pt-6 mt-12 w-full">
        <form
          class="rounded-2xl p-1.5 bg-white/10 border border-white/20 shadow-2xl custom-blur w-full lg:w-auto">
          <div class="w-full sm:flex sm:items-center">
            <div class="shrink">
              <input
                type="email"
                aria-label="Email address"
                placeholder="Email address"
                autocomplete="email"
                required=""
                class="block w-full p-3 bg-transparent border appearance-none rounded-xl border-transparent text-neutral-900 placeholder:text-neutral-200 focus:border-fuchsia-500 focus:outline-none focus:ring-fuchsia-500 sm:text-sm"
              />
            </div>
            <button
              class="relative inline-flex text-base justify-center flex-none px-3 py-2.5 lg:ml-4 tracking-tighter font-semibold text-black bg-[#fff] rounded-xl outline-2 outline-offset-2 hover:before:bg-white/10 w-full hover:bg-black hover:text-white lg:w-auto active:bg-fuchsia-600 active:text-white/80 before:transition-colors"
              type="submit">
              <span>Join the waitlist!</span>
            </button>
          </div>
        </form>
      </div>
      <div class="mx-auto sm:max-w-lg sm:flex flex-col">
        <p class="text-white text-base">by @twitter_handle</p>
      </div>
    </div>
  </div>
</section>
