<section
  class="h-screen flex justify-center items-center"
  style="background-image: linear-gradient(90deg, rgb(168, 86, 201) 0%, rgb(168, 86, 201) 3%,rgb(140, 74, 173) 3%, rgb(140, 74, 173) 11%,rgb(112, 61, 145) 11%, rgb(112, 61, 145) 20%,rgb(85, 49, 118) 20%, rgb(85, 49, 118) 49%,rgb(57, 37, 90) 49%, rgb(57, 37, 90) 71%,rgb(29, 24, 62) 71%, rgb(29, 24, 62) 72%,rgb(1, 12, 34) 72%, rgb(1, 12, 34) 100%),linear-gradient(67.5deg, rgb(168, 86, 201) 0%, rgb(168, 86, 201) 3%,rgb(140, 74, 173) 3%, rgb(140, 74, 173) 11%,rgb(112, 61, 145) 11%, rgb(112, 61, 145) 20%,rgb(85, 49, 118) 20%, rgb(85, 49, 118) 49%,rgb(57, 37, 90) 49%, rgb(57, 37, 90) 71%,rgb(29, 24, 62) 71%, rgb(29, 24, 62) 72%,rgb(1, 12, 34) 72%, rgb(1, 12, 34) 100%),linear-gradient(112.5deg, rgb(168, 86, 201) 0%, rgb(168, 86, 201) 3%,rgb(140, 74, 173) 3%, rgb(140, 74, 173) 11%,rgb(112, 61, 145) 11%, rgb(112, 61, 145) 20%,rgb(85, 49, 118) 20%, rgb(85, 49, 118) 49%,rgb(57, 37, 90) 49%, rgb(57, 37, 90) 71%,rgb(29, 24, 62) 71%, rgb(29, 24, 62) 72%,rgb(1, 12, 34) 72%, rgb(1, 12, 34) 100%),linear-gradient(45deg, rgb(168, 86, 201) 0%, rgb(168, 86, 201) 3%,rgb(140, 74, 173) 3%, rgb(140, 74, 173) 11%,rgb(112, 61, 145) 11%, rgb(112, 61, 145) 20%,rgb(85, 49, 118) 20%, rgb(85, 49, 118) 49%,rgb(57, 37, 90) 49%, rgb(57, 37, 90) 71%,rgb(29, 24, 62) 71%, rgb(29, 24, 62) 72%,rgb(1, 12, 34) 72%, rgb(1, 12, 34) 100%),linear-gradient(90deg, rgb(95, 3, 74),rgb(35, 65, 96)); background-blend-mode:overlay,overlay,overlay,overlay,normal;">
  <div
    class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="max-w-3xl mx-auto text-center">
      <div>
        <span class="bg-white/5 rounded-full py-3 px-6 w-auto">
          <span class="tewxt-sm text-fuchsia-400 font-medium">
            Fastest.Secure.Reliable
          </span>
        </span>
        <p
          class="mt-12 text-5xl lg:text-9xl font-extrabold tracking-tight text-slate-200 neue-power">
          Boost your Wordpress performance
        </p>
        <p class="text-base text-slate-300 max-w-xl mx-auto mt-8 lg:text-xl">
          Save your time & money with simply the best cloud hosting. Try it
          yourself and see the difference.
        </p>
      </div>
      <div class="flex flex-col gap-3 mt-10 sm:flex-row justify-center">
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white duration-200 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 font-medium hover:bg-transparent hover:border-black rounded-xl hover:text-black focus:outline-none lg:w-auto focus-visible:outline-black focus-visible:ring-black"
          href="#">Primary button</a
        >
        <a
          class="inline-flex items-center font-medium justify-center w-full px-6 py-3 text-center text-white duration-200 hover:text-fuchsia-300 focus:outline-none lg:w-auto focus-visible:outline-neutral-600 focus-visible:ring-neutral-300"
          href="#">
          <span>Naked button</span>
          &nbsp; &nbsp; &rarr;
        </a>
      </div>
    </div>
  </div>
</section>
