<section>
  <div
    class="items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div>
      <div class="max-w-2xl">
        <span class="inline-flex items-center text-neutral-900">
          <span class="font-mono text-sm" aria-hidden="true"> 21</span>
          <span class="ml-3 h-3.5 w-px bg-neutral-900"></span>
          <span class="ml-3 text-base font-medium tracking-tight">
            Feature
          </span>
        </span>
        <p class="mt-8 text-4xl font-extrabold text-neutral-900 font-display">
          I am a slightly longer heading that the others and I am align to the
          left
        </p>
        <p class="max-w-2xl mt-4 text-lg tracking-tight text-neutral-600">
          We all make mistakes, have struggles, and even regret things in our
          past. But you are not your mistakes, you are not your struggles, and
          you are here NOW with the power to shape your day and your future
        </p>
      </div>
    </div>
    <div>
      <ul
        class="grid grid-cols-2 gap-4 mt-6 list-none lg:gap-6 lg:grid-cols-4"
        role="list">
        <li>
          <div>
            <div
              class="flex items-center justify-center w-12 h-12 text-black bg-neutral-100 rounded-xl">
              <ion-icon
                class="w-5 h-5 md hydrated"
                name="scan-outline"
                role="img"
                aria-label="scan outline"></ion-icon>
            </div>
            <p class="mt-5 text-lg font-medium leading-6 text-neutral-900">
              Prebuilt integrations
            </p>
          </div>
          <div class="mt-2 text-base text-neutral-500">
            Municipal management performance corporate investment grade bonds.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-12 h-12 text-black bg-neutral-100 rounded-xl">
              <ion-icon
                class="w-5 h-5 md hydrated"
                name="scan-outline"
                role="img"
                aria-label="scan outline"></ion-icon>
            </div>
            <p class="mt-5 text-lg font-medium leading-6 text-neutral-900">
              Tools for every stack
            </p>
          </div>
          <div class="mt-2 text-base text-neutral-500">
            Corporate bonds debt fiat risk return municipal bonds retirement
            interest rate benchmark.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-12 h-12 text-black bg-neutral-100 rounded-xl">
              <ion-icon
                class="w-5 h-5 md hydrated"
                name="scan-outline"
                role="img"
                aria-label="scan outline"></ion-icon>
            </div>
            <p class="mt-5 text-lg font-medium leading-6 text-neutral-900">
              Prebuilt integrations
            </p>
          </div>
          <div class="mt-2 text-base text-neutral-500">
            Municipal management performance corporate investment grade bonds.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-12 h-12 text-black bg-neutral-100 rounded-xl">
              <ion-icon
                class="w-5 h-5 md hydrated"
                name="scan-outline"
                role="img"
                aria-label="scan outline"></ion-icon>
            </div>
            <p class="mt-5 text-lg font-medium leading-6 text-neutral-900">
              Tools for every stack
            </p>
          </div>
          <div class="mt-2 text-base text-neutral-500">
            Corporate bonds debt fiat risk return municipal bonds retirement
            interest rate benchmark.
          </div>
        </li>
      </ul>
    </div>
    <div class="grid items-start grid-cols-1 mt-12 md:grid-cols-2 lg:mt-24">
      <div class="lg:pr-24 md:pr-12">
        <h2 class="mt-6 text-3xl font-extrabold text-neutral-900 font-display">
          Stunning layouts
        </h2>
        <p class="mt-5 text-lg tracking-tight text-neutral-600">
          Your implementation includes relevant deep dive workshops so we can
          understand your requirements and create tailored integration guides
          for your teams to build faster.
        </p>
        <ul class="mt-12 list-none" role="list">
          <li>
            <div>
              <p class="mt-5 text-lg font-medium leading-6 text-neutral-900">
                Prebuilt integrations
              </p>
            </div>
            <div class="mt-5">
              <ul
                class="flex flex-col order-last text-base text-neutral-500 gap-y-2"
                role="list">
                <li class="flex items-start">
                  <ion-icon
                    class="w-5 h-5 md hydrated"
                    name="checkmark-outline"
                    role="img"
                    aria-label="checkmark outline"></ion-icon>

                  <span class="ml-4"> Embeddable checkout</span>
                </li>
                <li class="flex items-start">
                  <ion-icon
                    class="w-5 h-5 md hydrated"
                    name="checkmark-outline"
                    role="img"
                    aria-label="checkmark outline"></ion-icon>
                  <span class="ml-4"> Custom UI toolkit</span>
                </li>
                <li class="flex items-start">
                  <ion-icon
                    class="w-5 h-5 md hydrated"
                    name="checkmark-outline"
                    role="img"
                    aria-label="checkmark outline"></ion-icon>
                  <span class="ml-4"> Invoice support</span>
                </li>
                <li class="flex items-start">
                  <ion-icon
                    class="w-5 h-5 md hydrated"
                    name="checkmark-outline"
                    role="img"
                    aria-label="checkmark outline"></ion-icon>
                  <span class="ml-4"> Payment optimization</span>
                </li>
                <li class="flex items-start">
                  <ion-icon
                    class="w-5 h-5 md hydrated"
                    name="checkmark-outline"
                    role="img"
                    aria-label="checkmark outline"></ion-icon>
                  <span class="ml-4"> Data migration</span>
                </li>
                <li class="flex items-start">
                  <ion-icon
                    class="w-5 h-5 md hydrated"
                    name="checkmark-outline"
                    role="img"
                    aria-label="checkmark outline"></ion-icon>
                  <span class="ml-4"> Product monetization strategy</span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div>
              <p class="mt-5 text-lg font-medium leading-6 text-neutral-900">
                Deployable checkouts
              </p>
            </div>
            <div class="mt-5">
              <ul
                class="flex flex-col order-last text-base text-neutral-500 gap-y-2"
                role="list">
                <li class="flex items-start">
                  <ion-icon
                    class="w-5 h-5 md hydrated"
                    name="checkmark-outline"
                    role="img"
                    aria-label="checkmark outline"></ion-icon>
                  <span class="ml-4"> Embeddable checkout</span>
                </li>
                <li class="flex items-start">
                  <ion-icon
                    class="w-5 h-5 md hydrated"
                    name="checkmark-outline"
                    role="img"
                    aria-label="checkmark outline"></ion-icon>
                  <span class="ml-4"> Custom UI toolkit</span>
                </li>
                <li class="flex items-start">
                  <ion-icon
                    class="w-5 h-5 md hydrated"
                    name="checkmark-outline"
                    role="img"
                    aria-label="checkmark outline"></ion-icon>
                  <span class="ml-4"> Invoice support</span>
                </li>
                <li class="flex items-start">
                  <ion-icon
                    class="w-5 h-5 md hydrated"
                    name="checkmark-outline"
                    role="img"
                    aria-label="checkmark outline"></ion-icon>
                  <span class="ml-4"> Payment optimization</span>
                </li>
                <li class="flex items-start">
                  <ion-icon
                    class="w-5 h-5 md hydrated"
                    name="checkmark-outline"
                    role="img"
                    aria-label="checkmark outline"></ion-icon>
                  <span class="ml-4"> Data migration</span>
                </li>
                <li class="flex items-start">
                  <ion-icon
                    class="w-5 h-5 md hydrated"
                    name="checkmark-outline"
                    role="img"
                    aria-label="checkmark outline"></ion-icon>
                  <span class="ml-4"> Product monetization strategy</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div
        class="h-full mt-12 lg:mt-0 border-mercury-400 lg:pl-24 md:border-l md:pl-12">
        <img
          alt="Lexingtøn thumbnail"
          class="object-cover rounded-2xl bg-neutral-300"
          src="../images/placeholders/rectangleBlack.png"
        />
      </div>
    </div>
  </div>
</section>
