<section
  class="space h-screen flex items-center justify-center"
  style="background: radial-gradient(100% 225% at 0% 100%, #FF04F5 0%, #001AFF 100%), linear-gradient(270deg, #FB00A5 50%, #0400CB 100%), linear-gradient(300deg, #8DADA4 0%, #32DE81 100%), linear-gradient(7deg, #1DADFE 0%, #16009A 50%);
background-blend-mode: color-dodge, color-burn, color-burn, normal;">
  <section>
    <div
      class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl pt-24">
      <div class="mx-auto text-center">
        <div>
          <p
            class="text-4xl lg:text-8xl font-extrabold tracking-tight text-white clash">
            Engage your audience with the power of emojis
          </p>
          <p class="mt-4 text-2xl tracking-tight text-white/70">
            No Auth, Low Code, Emoji Widget
          </p>
        </div>
        <div class="flex flex-col gap-3 mt-10 sm:flex-row justify-center">
          <a
            class="inline-flex items-center justify-center w-full px-6 py-3 text-center transition duration-200 ease-in-out transform border hover:bg-transparent bg-black/5 custom-blur border-white hover:border-white/10 text-white/90 rounded-xl hover:text-white focus:outline-none lg:w-auto"
            href="#">Get started</a
          >
        </div>
      </div>

      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <dl
          class="mt-12 space-y-10 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-4 lg:gap-x-8 text-center">
          <div class="relative flex flex-col justify-between">
            <div>
              <dt>
                <p
                  class="text-lg font-medium leading-6 text-white clash lg:text-xl">
                  Engage
                </p>
              </dt>
              <dd class="mt-2 text-base text-white/70">
                Engage your audience by capturing their reactions to your
                content
              </dd>
            </div>
          </div>
          <div class="relative flex flex-col justify-between">
            <div>
              <dt>
                <p
                  class="text-lg font-medium leading-6 text-white clash lg:text-xl">
                  No login required
                </p>
              </dt>
              <dd class="mt-2 text-base text-white/70">
                Your audience never has to login. We create a unique token based
                on a few data points.
              </dd>
            </div>
          </div>
          <div class="relative flex flex-col justify-between">
            <div>
              <dt>
                <p
                  class="text-lg font-medium leading-6 text-white clash lg:text-xl">
                  Low Code
                </p>
              </dt>
              <dd class="mt-2 text-base text-white/70">
                With two lines of code you can add this to any page on your
                site!
              </dd>
            </div>
          </div>
          <div class="relative flex flex-col justify-between">
            <div>
              <dt>
                <p
                  class="text-lg font-medium leading-6 text-white clash lg:text-xl">
                  Visibility
                </p>
              </dt>
              <dd class="mt-2 text-base text-white/70">
                View all your sites, pages and page reactions.
              </dd>
            </div>
          </div>
        </dl>
      </div>
    </div>
  </section>
</section>
