<section class="bg-[#151522] overflow-hidden relative border-b border-white/10">
  <div class="w-full mx-auto max-w-7xl relative">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full p-5 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-16">
      <div
        class="flex flex-row items-center justify-between text-white text-sm lg:justify-start">
        <a href="/" class="lg:pr-8">
          <div>
            <p>Unwrapped</p>
          </div>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-white hover:text-white focus:outline-none focus:text-white/50 lg:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
          class="block px-4 py-2 mt-2 text-sm text-white md:mt-0 hover:text-white/50 focus:outline-none focus:shadow-outline">
          Sign in
        </a>
        <a
          class="inline-flex items-center justify-center px-4 py-2 text-sm text-white bg-white/10 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-white/5 active:bg-fuchsia-50 active:text-#fff focus-visible:outline-fuchsia-50">
          Sign up
        </a>
      </nav>
    </div>
  </div>
</section>
<section class="bg-[#151522] relative">
  <svg
    class="absolute blur-3xl lg:right-24 top-64"
    width="50%"
    height="50%"
    viewBox="0 0 400 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_17_23)">
      <g filter="url(#filter0_f_17_23)">
        <path d="M271.4 0H400V322.2L320 290L271.4 0Z" fill="#FF01B8"></path>
        <path d="M400 322.2V400H320H244L320 290L400 322.2Z" fill="#FF01B8"
        ></path>
        <path d="M244 400H0V166L320 290L244 400Z" fill="#FF01B8"></path>
        <path d="M0 0H271.4L320 290L0 166V0Z" fill="#FF01B8"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_17_23"
        x="-159.933"
        y="-159.933"
        width="719.867"
        height="719.867"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="79.9667"
          result="effect1_foregroundBlur_17_23"></feGaussianBlur>
      </filter>
    </defs>
  </svg>

  <div
    class="relative items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl lg:py-36">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-24">
      <div>
        <p class="text-5xl font-medium text-white neue-power tracking-wide">
          Increase your sales with AI written emails
        </p>
        <a
          class="inline-flex mt-8 items-center justify-center w-full px-6 py-3 text-center text-white duration-200 bg-[#ba168d] font-medium hover:bg-[#ba168d]/5 rounded-2xl hover:text-[#ba168d] focus:outline-none lg:w-auto focus-visible:outline-black focus-visible:ring-black"
          href="#"
          >Create free emails now &nbsp; &nbsp; &rarr;
        </a>
      </div>
      <div>
        <p
          class="text-base text-white/70 max-w-xl mx-auto mt-8 lg:text-2xl lg:mt-0">
          Close more deals and your increase sales with pitch-perfect emails
          written specifically for your prospect
        </p>
      </div>
    </div>
    <div class="relative items-center w-full pb-12 mx-auto max-w-7xl mt-12">
      <div>
        <img
          class="w-full object-cover rounded lg:rounded-2xl border border-white/5"
          src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
