<div class="flex min-h-screen bg-white">
  <div
    class="flex flex-col justify-center flex-1 px-8 py-8 md:px-12 lg:flex-none lg:px-24">
    <div class="w-full mx-auto lg:max-w-6xl">
      <div class="max-w-xl text-center lg:text-left">
        <div class="-mt-12">
          <a href="/">
            <p
              class="text-2xl uppercase italic lg:text-2xl font-bold outift tracking-tighter">
              Makers Diary
            </p>
          </a>
        </div>
        <div class="mt-32">
          <span class="py-2 w-auto">
            <span
              class="text-sm text-indigo-600 uppercase tracking-wide font-semibold">
              More visibility for your ideas & projects!
            </span>
          </span>
          <p
            class="text-4xl mt-8 lg:text-8xl trackingtight neue-haas tracking-tighter font-bold text-[#0f274d]">
            Share your journey <span class="lgblock">& build in public</span>
          </p>
        </div>
        <div class="flex flex-col gap-3 mt-10 sm:flex-row items-center">
          <a
            class="inline-flex items-center tracking-wide justify-center w-full px-6 py-4 text-center text-white duration-200 bg-indigo-500 border-2 border-indigo-500 hover:bg-transparent hover:border-indigo-50 rounded-full hover:text-indigo-500 focus:outline-none lg:w-auto focus-visible:outline-black focus-visible:ring-black"
            href="#">
            <span>Launch dashboard &nbsp; &nbsp; &rarr;</span>
          </a>
          <p class="text-slate-500">
            <span class="block">Start your makers journey today</span>
            <span class="block">and build your audience!</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="relative flex-1 hidden w-0 lg:block">
    <div>
      <img
        class="absolute inset-0 object-cover object-left w-full h-full bg-neutral-200"
        src="https://www.makersdiary.com/assets/imgs/user_startseite.jpg"
        alt=""
      />
    </div>
  </div>
</div>
