<section class="bg-[#184133] overflow-hidden relative neue-haas">
  <div class="w-full mx-auto max-w-7xl relative">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full p-5 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-16">
      <div
        class="flex flex-row text-sm items-center justify-between text-[#ece5db] lg:justify-start">
        <a href="/" class="lg:pr-8">
          <div>
            <p>Mint Media</p>
          </div>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-[#ece5db] hover:text-[#ece5db]/50 focus:outline-none focus:text-black lg:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex lg:space-x-6 md:justify-end md:flex-row">
        <a
          class="py-2 text-sm text-[#ece5db]/50 font-medium hover:text-[#ece5db]"
          href="#">Home</a
        >
        <a
          class="py-2 text-sm text-[#ece5db]/50 font-medium hover:text-[#ece5db]"
          href="#">About</a
        >
        <a
          class="py-2 text-sm text-[#ece5db]/50 font-medium hover:text-[#ece5db]"
          href="#">Services</a
        >
        <a
          class="py-2 text-sm text-[#ece5db]/50 font-medium hover:text-[#ece5db]"
          href="#">Portfolio</a
        >
        <a
          class="py-2 text-sm text-[#ece5db]/50 font-medium hover:text-[#ece5db]"
          href="#">Contact us</a
        >

        <a
          class="justify-center px-6 py-2.5 text-sm font-medium text-[#ece5db] bg-[#ece5db]/5 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-[#ece5db]/10 active:bg-green-50 active:text-black hover:text-[#ece5db] focus-visible:outline-fuchsia-50">
          Pricing
        </a>
      </nav>
    </div>
  </div>
</section>
<section class="relative flex items-center w-full bg-[#184133] neue-haas">
  <div
    class="items-center w-full px-5 py-36 mx-auto md:px-12 lg:px-16 max-w-7xl lg:py-24 relative">
    <div>
      <div>
        <p class="text-4xl lg:text-9xl font-black text-[#ece5db] clash-grotesk">
          Premiere Web <span>Design & Development</span>
        </p>
        <p
          class="max-w-3xl mt-4 text-lg lg:text-xl tracking-tight text-[#ece5db]">
          The design & development team that you always wanted to work with. One
          of North America's leading website and application design &
          development agencies. We help build remarkable websites and solutions
          that customers love and love to talk about.
        </p>
      </div>
      <div class="flex flex-col gap-3 mt-10 sm:flex-row items-center">
        <a
          class="inline-flex items-center justify-center w-full px-6 py-4 text-center text-[#184133] duration-200 bg-[#ece5db] border-[#ece5db] hover:bg-[#ece5db]/10 font-semibold rounded-xl hover:text-[#ece5db] focus:outline-none lg:w-auto focus-visible:outline-black focus-visible:ring-black"
          href="#">
          <span>Let's discuss your project</span>
        </a>
      </div>
    </div>
  </div>
</section>
