<section class="overflow-hidden spacetext bg-white">
  <div
    class="items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-end">
      <div class="">
        <p
          class="mt-8 text-4xl font-extrabold tracking-tight text-black comico">
          Documentation is hard.
        </p>
        <p
          class="max-w-xl mt-4 text-lg lg:text-3xl tracking-tight text-black/70">
          Make it easier to keep your docs up to date when code changes.
        </p>
      </div>
      <div class="flex flex-col max-w-sm pt-8 md:pt-6 lg:ml-auto">
        <form
          class="flex border-2 border-black max-w-xl p-1 bg-white"
          style="
              border-bottom-left-radius: 15px 255px;
              border-bottom-right-radius: 225px 15px;
              border-top-left-radius: 255px 15px;
              border-top-right-radius: 15px 225px; box-shadow: -5px 5px black;
            ">
          <div class="sm:flex gap-1 sm:items-center justify-between w-full">
            <div class="min-w-0 w-auto shrink">
              <input
                type="email"
                aria-label="Email address"
                placeholder="Email address"
                autocomplete="email"
                required=""
                class="block w-full p-3 bg-white border appearance-none border-transparent text-black placeholder:text-neutral-400 focus:border-neutral-500 focus:outline-none focus:ring-neutral-500 sm:text-sm"
              />
            </div>
            <button
              style="
              border-bottom-left-radius: 15px 255px;
              border-bottom-right-radius: 225px 15px;
              border-top-left-radius: 255px 15px;
              border-top-right-radius: 15px 225px;
            "
              class="relative w-full lg:w-auto inline-flex justify-center flex-none px-6 py-3 overflow-hidden text-base font-semibold text-black transition-colors bg-[#dcff00] outline-2 outline-offset-2 before:absolute before:inset-0 active:before:bg-transparent hover:before:bg-white/10 active:bg-white/70 border-black border-2 active:text-black/80 before:transition-colors"
              type="submit">
              <span>Join the wait list!</span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="mx-auto mt-24 text-left border-t border-black/70 pt-12">
      <h2 class="sr-only">intro.</h2>
      <div>
        <div
          class="grid grid-cols-1 text-sm gap-x-2 gap-y-14 lg:grid-cols-3 lg:gap-12">
          <div>
            <div
              style="
              border-bottom-left-radius: 15px 255px;
              border-bottom-right-radius: 225px 15px;
              border-top-left-radius: 255px 15px;
              border-top-right-radius: 15px 225px; box-shadow: -5px 5px #5cffe4;
            "
              class="flex items-center justify-center w-12 h-12 text-black bg-[#5cffe4] border-2 border-black">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m6.75 12H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"
                ></path>
              </svg>
            </div>
            <div>
              <p
                class="text-lg font-medium leading-6 text-black lg:text-xl tracking-tighter mt-6 comico">
                A simple Markdown-compatible editor for you
              </p>
            </div>
            <div class="mt-2 text-base text-neutral-500 lg:text-lg">
              Make it easy to write docs in plain language but still keep them
              close to code.
            </div>
          </div><div>
            <div
              style="
              border-bottom-left-radius: 15px 255px;
              border-bottom-right-radius: 225px 15px;
              border-top-left-radius: 255px 15px;
              border-top-right-radius: 15px 225px; box-shadow: -5px 5px #c58fff;
            "
              class="flex items-center justify-center w-12 h-12 text-black bg-[#c58fff] border-2 border-black">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"
                ></path>
              </svg>
            </div>
            <div>
              <p
                class="text-lg font-medium leading-6 text-black lg:text-xl tracking-tighter mt-6 comico">
                Get notified when code changes impact documentation
              </p>
            </div>
            <div class="mt-2 text-base text-neutral-500 lg:text-lg">
              Keep documentation relevant and up-to-date. Get notified when code
              linked to docs is changed.
            </div>
          </div>
          <div>
            <div
              style="
              border-bottom-left-radius: 15px 255px;
              border-bottom-right-radius: 225px 15px;
              border-top-left-radius: 255px 15px;
              border-top-right-radius: 15px 225px; box-shadow: -5px 5px #a9ff03;
            "
              class="flex items-center justify-center w-12 h-12 text-black bg-[#a9ff03] border-2 border-black">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125"
                ></path>
              </svg>
            </div>
            <div>
              <p
                class="text-lg font-medium leading-6 text-black lg:text-xl tracking-tighter mt-6 comico">
                Combine docs from multiple repositories and sources
              </p>
            </div>
            <div class="mt-2 text-base text-neutral-500 lg:text-lg">
              Document features that span multiple services, improve onboarding
              for new developers, and incorporate relevant information.
            </div>
          </div>
        </div>

        <div class="w-full mt-12 object-fit">
          <img
            style="
              border-bottom-left-radius: 15px 255px;
              border-bottom-right-radius: 225px 15px;
              border-top-left-radius: 255px 15px;
              border-top-right-radius: 15px 225px; box-shadow: -5px 5px black;
            "
            class="w-full bg-neutral-300 border-2 border-black"
            src="https://docstack.dev/_next/image?url=%2Feditor-lg.png&w=3840&q=75"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
