<footer aria-labelledby="footer-heading" class="mx-auto bg-[#141521]">
  <div class="items-center relative lg:px-36 max-w-7xl md:px-12 mx-auto py-12">
    <div
      class="flex mx-auto flex-col gap-y-12 items-start justify-between l lg:flex-row lg:items-center pb-6">
      <div class="flex items-center mx-auto text-center">
        <div>
          <p
            class="text-white font-bold hover:text-moonlightStone italic lg: lg:text-4xl text-2xl">
            unwrapped.
          </p><p class="text-white/50 text-sm mt-1">
            Digital resources for digital designers and<br />web developers by <a
              class="hover:text-blue-500 underline underline-offset-4 text-white"
              href="https://www.michaelandreuzza.com">Michael Andreuzza</a
            >
          </p>
        </div>
      </div>
    </div><div
      class="flex mx-auto flex-col border-t border-white/10 md:pt-6 pt-8 text-center">
      <p class="text-white/50 text-sm md:mt-0 mt-6">
        © Unwrapped since 2018 • Copyright 2023 • All rights reserved.
      </p>
    </div>
  </div>
</footer>
